<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ theUser.username }}'s Comments</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <ul>
    {% for comment in comments %}
        <li>
            <a href="/post/{{ comment.post.id }}/{{ comment.post.title }}#comments-{{ comment.id }}">Commented on {{ comment.post.title }}<br></a>
            At {{ comment.created_at }} | last updated at {{ comment.updated_at }}
        </li>
    {% endfor %}
    </ul>

    Page {{ comments.number }} of {{ comments.paginator.num_pages }}<br>

    {% if comments.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ comments.previous_page_number }}">Previous</a>
    {% endif %}
    {% if comments.has_next %}
        <a href="?page={{ comments.next_page_number }}">Next</a>
        <a href="?page={{ comments.paginator.num_pages }}">Last &raquo</a>
    {% endif %}

    {% include 'templates/footer.html' %}
</body>
</html>