<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>Profile {{ theUser.username }}</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <main>
        <div class="container">
            <div class="container__profile">
                <div class="navigation">
                    <div class="info">
                        <div><i class="uil uil-user-circle profile__image"></i></div>

                        <p><b>{{ theUser.first_name }} {{ theUser.last_name }}</b></p>
                        <p class="email">{{ theUser.email }}</p>
                    </div>
                    <div class="button__container">
                        {% if request.user == theUser %}                        
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}">
                                <div><i class="uil uil-user-square"></i></div>
                                <p>Profile Saya</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/posts">
                                <div><i class="uil uil-users-alt"></i></div>
                                <p>Post Forum Saya</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/konsultasi">
                                <div><i class="uil uil-comment-alt-message"></i></div>
                                <p>Pertanyaan Saya</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/history">
                                <div><i class="uil uil-history"></i></div>
                                <p>Riwayat Tes Saya</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/notification">
                                <div><i class="uil uil-bell"></i></div>
                                <p>Notifikasi Saya</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/settings">
                                <div><i class="uil uil-edit-alt"></i></div>
                                <p>Ubah Profile</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile logout" href="/logout">
                                <div><i class="uil uil-sign-out-alt"></i></div>
                                <p>Keluar</p>
                            </a>
                        </div>
                        
                        {% else %}
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/posts">
                                <div><i class="uil uil-users-alt"></i></div>
                                <p>Postingan User</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/konsultasi">
                                <div><i class="uil uil-comment-alt-message"></i></div>
                                <p>Pertanyaan User</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="profile">
                    <h1>Profile Saya</h1>
                    <div class="profile__header">
                        <div class="container_name_role">
                            <p class="name">{{ theUser.first_name }} {{ theUser.last_name }}</p>
                            <p class="role">Role: {% if user_profile.role %}{{ user_profile.role }}{% else %}User{% endif %}</p>
                            {% if messages %}
                            <div class="message-alert">
                                {% for message in messages %}
                                <div class="message-alert-content">
                                    <p style="color:red">{{ message.message }}</p>
                                </div>
                                {% endfor %}
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <p>{% if user_profile.bio is None or user_profile.bio == '' %}...{% else %}{{ user_profile.bio }}{% endif %}</p>
                    <br>
                    <p>Lokasi: {% if user_profile.location is None or user_profile.location == '' %}...{% else %}{{ user_profile.location }}{% endif %}</p>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>