<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <title>{{ theUser.username }}'s Profile</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <main>
        <div class="container">
            <div class="container__profile">
                <div class="navigation">
                    <div class="info">
                        <img src="{% static 'img/avatar-big.svg' %}" alt="profile-pict">
                        <p><b>{{ theUser.first_name }} {{ theUser.last_name }}</b></p>
                        <p class="email">{{ theUser.email }}</p>
                        {% if messages %}
                            <div class="message-alert">
                                {% for message in messages %}
                                <div class="message-alert-content">
                                    <p style="color:red">{{ message.message }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="button__container">
                        {% if request.user == theUser %}                        
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}">
                                <img src="{% static 'img/my_profile_icon.svg' %}" alt="icon">
                                <p>My Profile</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/history">
                                <img src="{% static 'img/tes_history_icon.svg' %}" alt="icon">
                                <p>My Test History</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ theUser.username }}/settings">
                                <img src="{% static 'img/edit_icon.svg' %}" alt="icon">
                                <p>Edit Profile</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile logout" href="/logout">
                                <img src="{% static 'img/logout_icon.svg' %}" alt="icon">
                                <p>Logout</p>
                            </a>
                        </div>
                        {% endif %}
                    </div>
    
                </div>
                <div class="profile">
                    <h1>My Profile</h1>
                    <div class="profile__header">
                        <img src="{% static 'img/avatar-big.svg' %}" alt="profile-pict">
                        <div class="container_name_role">
                            <p class="name">{{ theUser.first_name }} {{ theUser.last_name }}</p>
                            <p class="role">Role: {% if user_profile.role %}{{ user_profile.role }}{% else %}User{% endif %}</p>
                        </div>
                    </div>
                    <p>{% if user_profile.bio is None or user_profile.bio == '' %}...{% else %}{{ user_profile.bio }}{% endif %}</p>
                    <br>
                    <p>Location: {% if user_profile.location is None or user_profile.location == '' %}...{% else %}{{ user_profile.location }}{% endif %}</p>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>