<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load remove_unused %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ user.username }}'s Notification</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
</head>
<body>
    {% include 'templates/header.html'%}

    <div class="notification">
        <button onclick="readAll('{{ user.username }}' ,'{{ csrf_token }}')">Read all</button>
        <ul>
            {% for notif in notifications %}
            {% if notif.read %}
            <li style="background-color:white;" name="notif-id" id="notif-{{ notif.id }}">
            {% else %}
            <li style="background-color:yellow;" name="notif-id" id="notif-{{ notif.id }}">
            {% endif %}
            {% if notif.post_Forum %}
                Type: Post-Comment<br>
                <a href="/forum/{{ notif.post_Forum.id }}/{{ notif.post_Forum.title|remove_unused }}#comments-{{ notif.comment.id }}">{{ notif.notification_Content }}</a>
            {% elif notif.post_Konsultasi %}
                Type: Jawaban Konsultasi<br>
                <a href="/tanya-jawab/{{ notif.post_Konsultasi.id }}/{{ notif.post_Konsultasi.title|remove_unused }}#comments-{{ notif.comment.id }}">{{ notif.notification_Content }}</a>
            {% elif notif.comment %}
                {% if notif.post_Forum %}
                    Type: Comment-Mention<br>
                    <a href="/forum/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}">{{ notif.notification_Content }}</a>
                {% else %}
                    <a href="/tanya-jawab/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}">{{ notif.notification_Content }}</a>
                {% endif %}
            {% else %}
                {{ notif.notification_Content }}
            {% endif %}
                <br>
            {% if not notif.read %}
                <button name="btn-notif-id" id="btn-notif-{{ notif.id }}" onclick="markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}')">Mark read</button>
            {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    Page {{ notifications.number }} of {{ notifications.paginator.num_pages }}<br>

    {% if notifications.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ notifications.previous_page_number }}">Previous</a>
    {% endif %}
    {% if notifications.has_next %}
        <a href="?page={{ notifications.next_page_number }}">Next</a>
        <a href="?page={{ notifications.paginator.num_pages }}">Last &raquo</a>
    {% endif %}

    <script>
        function markRead(notification_id, username, csrf_token) {
            $.ajax({
                url: "/profile/" + username + "/notification/read/" + notification_id,
                type: "POST",
                data: {csrfmiddlewaretoken: csrf_token},
                success: function(data) {
                    dataJson = JSON.parse(data);
                    if (dataJson.status == 'success') { 
                        $('#notif-' + notification_id).css('background-color', 'white');
                        $('#btn-notif-' + notification_id).remove();
                    } else {
                        alert("Error, failed to mark notification as read: ");
                    }
                }
            });
        }

        function readAll(username, csrf_token) {
            // ask for confirmation

            if (confirm('Are you sure you want to mark all notifications as read?')) {
                $.ajax({
                    url: "/profile/" + username + "/notification/readall",
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token},
                    success: function(data) {
                        dataJson = JSON.parse(data);
                        if (dataJson.status == 'success') {
                            $('li[name*=\'notif-id\']').css('background-color', 'white');
                            $('button[name*=\'btn-notif-id\']').remove();
                        } else {
                            alert("Error, failed to mark all notifications as read: ");
                        }
                    }
                });
            }
        }
    </script>

    {% include 'templates/footer.html'%}
</body>
</html>