<!DOCTYPE html>
{% load static %}
{% load remove_unused %}
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}" />
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
	<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
	<link rel="stylesheet" href="{% static 'css/header.css' %}" />
	<link rel="stylesheet" href="{% static 'css/profile.css' %}" />

	<link rel="icon" type="image/png" href="{% static 'img/favicon/favicon.ico' %}" />
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.redirect.js' %}"></script>
	<title>{{ user.username }}'s Notification</title>
</head>

<body>
	{% include 'templates/header.html' %}

	<main>
		<div class="container">
			<div class="container__profile">
				<div class="navigation">
					<div class="info">
						<div><i class="uil uil-user-circle profile__image"></i></div>
						<p><b>{{ user.first_name }} {{ user.last_name }}</b></p>
						<p class="email">{{ user.email }}</p>
					</div>
					<div class="button__container">
						<div>
							<a class="button__profile" href="/profile/{{ user.username }}">
                                <div><i class="uil uil-user-square"></i></div>
								<p>My Profile</p>
							</a>
						</div>
						<div>
							<a class="button__profile" href="/profile/{{ user.username }}/posts">
                                <div><i class="uil uil-users-alt"></i></div>
								<p>My Forum Post</p>
							</a>
						</div>
						<div>
							<a class="button__profile" href="/profile/{{ user.username }}/konsultasi">
                                <div><i class="uil uil-comment-alt-message"></i></div>
								<p>My Question</p>
							</a>
						</div>
						<div>
							<a class="button__profile" href="/profile/{{ user.username }}/history">
                                <div><i class="uil uil-history"></i></div>
								<p>My Test History</p>
							</a>
						</div>
						<div>
							<a class="button__profile" href="/profile/{{ user.username }}/notification">
                                <div><i class="uil uil-bell"></i></div>
								<p>My Notification</p>
							</a>
						</div>
						<div>
							<a class="button__profile" href="/profile/{{ user.username }}/settings">
                                <div><i class="uil uil-edit-alt"></i></div>
								<p>Edit Profile</p>
							</a>
						</div>
						<div>
							<a class="button__profile logout" href="/logout">
                                <div><i class="uil uil-sign-out-alt"></i></div>
								<p>Logout</p>
							</a>
						</div>
					</div>
				</div>
				<div class="history__container profile">
					<h1>Notification</h1>
                    <a style="color: blue; cursor: pointer;" onclick="readAll('{{ user.username }}' ,'{{ csrf_token }}')">Click here to Read all</a>

					<div class="tbl-header">
						<table cellpadding="0" cellspacing="0" border="0">
							<thead>
								<tr>
									<th width="21%">Type</th>
									<th width="40%">Content</th>
									<th width="15%">Status</th>
									<th width="3%"></th>
								</tr>
							</thead>
						</table>
					</div>
					<div class="tbl-content">
						<table cellpadding="0" cellspacing="0" border="0">
							<tbody>
								{% for notif in notifications %}
                                {% if notif.read %}
                                    <tr style="background-color:white;" name="notif-id" id="notif-tr-{{ notif.id }}">
                                {% else %}
                                    <tr style="background-color:#d7d7d7;" name="notif-id" id="notif-tr-{{ notif.id }}">
                                {% endif %}
                                {% if notif.post_Forum %}
									<td width="20%">Post-Comment</td>
									<td width="40%" style="cursor: pointer;" onclick="window.location.href='/forum/{{ notif.post_Forum.id }}/{{ notif.post_Forum.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</td>
									{% if not notif.read %}
                                    <td width="15%" style="cursor: pointer;" name="btn-notif-id" id="btn-notif-{{ notif.id }}" onclick="markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}')">Not read</td>
                                    {% else %}
                                    <td width="15%">Already Read</td>
                                    {% endif %}
                                {% elif notif.post_Konsultasi %}
                                    <td width="20%">Jawaban Konsultasi</td>
                                    <td width="40%" style="cursor: pointer;" onclick="window.location.href='/konsultasi/{{ notif.post_Konsultasi.id }}/{{ notif.post_Konsultasi.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</td>
                                    {% if not notif.read %}
                                    <td width="15%" style="cursor: pointer;" name="btn-notif-id" id="btn-notif-{{ notif.id }}" onclick="markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}')">Not read</td>
                                    {% else %}
                                    <td width="15%">Already Read</td>
                                    {% endif %}
                                {% elif notif.comment %}
                                    <td width="20%">Comment Mention</td>
                                    {% if notif.post_Forum %}
                                    <td width="40%" style="cursor: pointer;" onclick="window.location.href='/forum/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</td>
                                    {% else %}
                                    <td width="40%" style="cursor: pointer;" onclick="window.location.href='/konsultasi/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</td>
                                    {% endif %}
                                    {% if not notif.read %}
                                    <td width="15%" style="cursor: pointer;" name="btn-notif-id" id="btn-notif-{{ notif.id }}" onclick="markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}')">Not read</td>
                                    {% else %}
                                    <td width="15%">Already Read</td>
                                    {% endif %}
                                {% else %}
                                    <td width="20%">Notif</td>
                                    <td width="40%">{{ notif.notification_Content }}</td>
									{% if not notif.read %}
                                    <td width="15%" style="cursor: pointer;" name="btn-notif-id" id="btn-notif-{{ notif.id }}" onclick="markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}')">Not read</td>
                                    {% else %}
                                    <td width="15%">Already Read</td>
                                    {% endif %}
                                {% endif %}
									{% comment %} <td width="15%"><span style="cursor: pointer;" id="res-{{history.id}}">Lihat
											Hasil</span></td>
									<td width="10%" class="trash" style="cursor: pointer;"><span id="{{history.id}}"><i
												class="uil uil-trash-alt"></i></span></td> {% endcomment %}
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</main>

    <script>
        function markRead(notification_id, username, csrf_token) {
            $.ajax({
                url: "/profile/" + username + "/notification/read/" + notification_id,
                type: "POST",
                data: {csrfmiddlewaretoken: csrf_token},
                success: function(data) {
                    dataJson = JSON.parse(data);
                    if (dataJson.status == 'success') { 
						document.getElementById('notif-tr-' + notification_id).style.backgroundColor = "white";
                        $('#btn-notif-' + notification_id).html("Already Read");
                        $('#btn-notif-' + notification_id).css('cursor', 'default');
                    } else {
                        alert("Error, failed to mark notification as read: ");
                    }
                }
            });
        }

        function readAll(username, csrf_token) {
            // ask for confirmation
            if (confirm('Are you sure you want to mark all notifications as read?')) {
                $.ajax({
                    url: "/profile/" + username + "/notification/readall",
                    type: "POST",
                    data: {csrfmiddlewaretoken: csrf_token},
                    success: function(data) {
                        dataJson = JSON.parse(data);
                        if (dataJson.status == 'success') {
                            $('tr[name*=\'notif-id\']').css('background-color', 'white');
                            $('td[name*=\'btn-notif-id\']').html("Already Read");
                            $('td[name*=\'btn-notif-id\']').css("cursor", "default");
                        } else {
                            alert("Error, failed to mark all notifications as read: ");
                        }
                    }
                });
            }
        }
    </script>

	<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>

</html>