<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ theUser.username }}'s Posts</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <ul>
    {% for posts in posts %}
        <li>
            <a href="/post/{{ posts.id }}">{{ posts.title }}</a>
            Created at {{ posts.created_at }} | last updated at {{ posts.updated_at }}
        </li>
    {% endfor %}
    </ul>

    Page {{ posts.number }} of {{ posts.paginator.num_pages }}<br>

    {% if posts.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}
    {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
        <a href="?page={{ posts.paginator.num_pages }}">Last &raquo</a>
    {% endif %}

    {% include 'templates/footer.html' %}
</body>
</html>