<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>{{ theUser.username }}'s Forum Posts | Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <form action="/forum" method="get">
        <section class="container search__container">
            <input type="text" name="q" placeholder="Cari disini..">
            <button type="submit">Search</button>
        </section>
    </form>

    {% if messages %}
    <div class="message-alert" style="text-align: center;">
        {% for message in messages %}
        <div class="message-alert-content">
            <p style="color:red">{{ message.message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <section class="container" style="margin-top: 10px;">
        <div class="back__to__forum">
            <a href="/forum"><i class="uil uil-angle-left"></i> Kembali ke Forum</a>
        <div>
    </section>
    <main class="container" style="margin-top: 5px;">
        {% if posts %}
        <div class="container__forum">
            {% for post in posts %}
            <div class="container__card">
                <div class="forum__about">
                    <a href="/forum/{{ post.id }}"><h1>{{ post.title }}</h1></a>
                    <a class="forum__category" href="/forum/tag/{{ post.tag.name|space_to_dash }}">{{ post.tag.name }}<a>
                    <p id="post-{{post.id}}">
                        <script>
                            var x = jQuery('{% autoescape off %}{{post.content}}{% endautoescape %}').text();
                            // write it
                            document.getElementById("post-{{post.id}}").innerHTML = x.slice(0,50);
                        </script>
                    </p>   
                </div>
                <div class="forum__info">
                    <div>
                        <i class="uil uil-thumbs-up"></i>
                        {{ post.likes }} Likes
                    </div>
                    <div>
                        <i class="uil uil-comment"></i>
                        {{ post.comments }} Comments
                    </div>
                    <div>
                        <i class="uil uil-user"></i>
                        {% if post.user == null %}deleted{% else %}{{ post.user }}{% endif %}
                    </div>
                    <div>
                        <i class="uil uil-calendar-alt"></i>
                        <span id="date-{{ post.id }}">{{ post.created_at.isoformat }}</span>
                        <script>
                            // parse the date into dd-mm-yyyy hh:mm format
                            var date = new Date(document.getElementById('date-{{ post.id }}').innerHTML);
                            var formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear() + ', ' + date.getHours() + ':' + date.getMinutes();
                            document.getElementById('date-{{ post.id }}').innerHTML = formattedDate;
                        </script>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="container__forum">
            <div class="container__card">
                <div class="forum__about">
                    <a><h1>Tidak ada forum post yang dibuat oleh {{theUser.username}}</h1></a>
                    <p id="post-{{post.id}}"></p>
                </div>
                <div class="forum__info"></div>
            </div>
        </div>
        {% endif %}
        </div>

        <div class="container__forum__button">
            <a class="create button button--flex" style="background-color: #0270a6">
                {% if theUser == user %}
                <span style="text-align: center;">Sedang Melihat Post Forum Anda</spam>
                {% else %}
                <span style="text-align: center;">Sedang Melihat Post Forum {{ theUser.username }}</spam>
                {% endif %}
            </a>
            <a href="/forum/create" class="create button button--flex" style="margin-top: 16px;">
                Buat Post
            </a>
            <a class="your__post button button--flex" style="background-color: #fbfcfe"></a>
        </div>
    </main>

    <div class="page-num"> 
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}<br>
    
        {% if posts.has_previous %}
            <a href="?page=1">&laquo First</a>
        {% endif %}

        {% if posts.has_previous and posts.has_next %}
            <a href="?page={{ posts.previous_page_number }}">- Previous</a>
            <a href="?page={{ posts.next_page_number }}">- Next -</a>
        {% elif posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">- Previous</a>
        {% elif posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">Next -</a>
        {% endif %}

        {% if posts.has_next %}
            <a href="?page={{ posts.paginator.num_pages }}">Last &raquo</a>
        {% endif %}
    </div>

    {% include 'templates/footer.html' %}

    <script>
        var change = document.getElementById("forum");
        change.classList.add("active-link");
        change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
