<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <title>{{ user.username }}'s Settings</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <main>
        <div class="container">
            <div class="container__profile">
                <div class="navigation">
                    <div class="info">
                        <img src="{% static 'img/avatar-big.svg' %}" alt="profile-pict">
                        <p><b>{{ user.first_name }} {{ user.last_name }}</b></p>
                        <p class="email">{{ user.email }}</p>
                    </div>
                    <div class="button__container">
                        <div>
                            <a class="button__profile" href="/profile/{{ user.username }}">
                                <img src="{% static 'img/my_profile_icon.svg' %}" alt="icon">
                                <p>My Profile</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ user.username }}/history">
                                <img src="{% static 'img/tes_history_icon.svg' %}" alt="icon">
                                <p>My Test History</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile" href="/profile/{{ user.username }}/settings">
                                <img src="{% static 'img/edit_icon.svg' %}" alt="icon">
                                <p>Edit Profile</p>
                            </a>
                        </div>
                        <div>
                            <a class="button__profile logout" href="/logout">
                                <img src="{% static 'img/logout_icon.svg' %}" alt="icon">
                                <p>Logout</p>
                            </a>
                        </div>
                    </div>
    
                </div>
                <div class="profile">
                    <h1>Edit Profile</h1>
                    <div class="profile__header">
                        <img class="change__profile__pict" src="{% static 'img/change_avatar.svg' %}" alt="profile-pict-change" id="profileImg">
                        <div class="container_name_role">
                            <p class="name">{{ user.first_name }} {{ user.last_name }}</p>
                            <p class="role">Role: {% if user_profile.role %}{{ user_profile.role }}{% else %}User{% endif %}</p>
                            {% if messages %}
                            <div class="message-alert">
                                {% for message in messages %}
                                <div class="message-alert-content">
                                    <p style="color:red">{{ message.message }}</p>
                                </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        </div>
                    </div>
                    <form name="settings" method="post" action="settings" onsubmit="return">
                        {% csrf_token %}
                        {% comment %} <input type="file"> {% endcomment %}
                    
                        <textarea class="bio" type="text" id="bio" name="bio" placeholder="Biodata">{{ UserProfile.bio }}</textarea>

                        <input class="first__name" type="text" id="fname" name="firstName" value= "{{ user.first_name }}" placeholder="First Name">

                        {% comment %} hidden input for img source  {% endcomment %}
                        {% comment %} <input type="hidden" id="imgHidden" name="img" value="{{ user_profile.img }}"> {% endcomment %}
                    
                        <input class="last__name" type="text" id="lname" name="lastName" value= "{{ user.last_name }}" placeholder="Last Name">
                            
                        <select class="provinsi" id="location" name="location">
                            <option selected hidden value="{{ UserProfile.location }}">{{ UserProfile.location }}</option>
                            <option value="Aceh">Aceh</option>
                            <option value="Bali">Bali</option>
                            <option value="Banten">Banten</option>
                            <option value="Bengkulu">Bengkulu</option>
                            <option value="DI Yogyakarta">DI Yogyakarta</option>
                            <option value="DKI Jakarta">DKI Jakarta</option>
                            <option value="Gorontalo">Gorontalo</option>
                            <option value="Jambi">Jambi</option>
                            <option value="Jawa Barat">Jawa Barat</option>
                            <option value="Jawa Tengah">Jawa Tengah</option>
                            <option value="Jawa Timur">Jawa Timur</option>
                            <option value="Kalimantan Barat">Kalimantan Barat</option>
                            <option value="Kalimantan Selatan">Kalimantan Selatan</option>
                            <option value="Kalimantan Tengah">Kalimantan Tengah</option>
                            <option value="Kalimantan Timur">Kalimantan Timur</option>
                            <option value="Kalimantan Utara">Kalimantan Utara</option>
                            <option value="Kepulauan Bangka Belitung">Kepulauan Bangka Belitung</option>
                            <option value="Kepulauan Riau">Kepulauan Riau</option>
                            <option value="Lampung">Lampung</option>
                            <option value="Maluku">Maluku</option>
                            <option value="Maluku Utara">Maluku Utara</option>
                            <option value="Nusa Tenggara Barat">Nusa Tenggara Barat</option>
                            <option value="Nusa Tenggara Timur">Nusa Tenggara Timur</option>
                            <option value="Papua">Papua</option>
                            <option value="Papua Barat">Papua Barat</option>
                            <option value="Riau">Riau</option>
                            <option value="Sulawesi Barat">Sulawesi Barat</option>
                            <option value="Sulawesi Selatan">Sulawesi Selatan</option>
                            <option value="Sulawesi Tengah">Sulawesi Tengah</option>
                            <option value="Sulawesi Utara">Sulawesi Utara</option>
                            <option value="Sumatera Barat">Sumatra Barat</option>
                            <option value="Sumatera Selatan">Sumatera Selatan</option>
                            <option value="Sulawesi Tenggara">Sulawesi Tenggara</option>
                            <option value="Sumatera Utara">Sumatera Utara</option>
                        </select>
                        <div class="cancel__apply">
                            <button class="button button--flex cancel" type="button" id="cancel">Cancel</button>
                            <button class="button button--flex" type="submit">Apply</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <script>
        // get element cancel by id
        var cancel = document.getElementById('cancel');
        // on click refresh page
        cancel.onclick = function() {
            location.reload();
        }

        {% comment %} window.addEventListener('load', function() {
            document.querySelector('input[type="file"]').addEventListener('change', function() {
                if (this.files && this.files[0]) {
                    var img = document.getElementById('profileImg');
                    img.onload = () => {
                        URL.revokeObjectURL(img.src);  // no longer needed, free memory
                    }
          
                    img.src = URL.createObjectURL(this.files[0]); // set src to blob url
                    // update hidden value
                    document.getElementById('imgHidden').value = img.src;
                }
            });
        }); {% endcomment %}
        
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>