<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tes.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <title>Tes oleh Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}
    <div class="container tes__section">
        <div>   
            <div class="section__title">
                <h2>Tes Psikologi</h2>
            </div>
            {% if messages %}
            <div class="message-alert">
                {% for message in messages %}
                <div class="message-alert-content">
                    <p style="color:red">{{ message.message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
            <div class="tes__container">
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_1.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="/tests/health/loneliness">Kesehatan<a>
                            <a href="/tests/health/loneliness"><h2 class="tes__title">Tes Skala Kesepian</h2></a>
                            <p class="tes__description-fit-text">Ketahui perasaan subjektif kesepian dirimu serta perasaan isolasi sosial yang kamu alami.</p>
                            <a href="/tests/health/loneliness" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_4.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category">Kesehatan<a>
                            <a href="/tests/health/depression"><h2 class="tes__title">Tes Depresi</h2></a>
                            <p class="tes__description-fit-text">Ikuti tes ini untuk membantu menentukan apakah kamu memiliki gejala depresi dan untuk menilai apakah kamu harus berbicara dengan tenaga..</p>
                            <a href="/tests/health/depression" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_2.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="/tests/health/mindfulness">Kesehatan<a>
                            <a href="/tests/health/mindfulness"><h2 class="tes__title">Tes Kesadaran Diri</h2></a>
                            <p class="tes__description-fit-text">Tes ini digunakan untuk mengetahui apakah, atau seberapa sering, kamu mungkin mengalami beberapa emosi dan tidak menyadarinya.</p>
                            <a href="/tests/health/mindfulness" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

    <script>
    var change = document.getElementById("test");
    change.classList.add("active-link");
    change.href = "#";
    </script>

</body>
</html>