<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tes.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <title>Tes Psikologi Sehatin</title>
</head>
<body>

    {% include 'templates/header.html' %}
    
    <div class="container tes__section">
        <div>   
            <div class="section__title">
                <h2>Tes Terpopuler</h2>
            </div>
            <div class="tes__container">
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_1.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="/tests/health/kesehatan-mental">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Kesehatan Mental</h2>
                            <p class="tes__description">Mental itu penting, tapi jangalah lupa mendarat. Ayo cek...</p>
                            <a href="/test/health/kesehatan-mental" class="tes__button">
                                Ikuti Tes
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_2.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="#">Tes Selamat Dunia Akhirat<a>
                            <h2 class="tes__title">Tes x</h2>
                            <p class="tes__description">Ayo cek...</p>
                            <a href="#" class="tes__button">
                                Ikuti Tes
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_3.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="#">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Skinwalker</h2>
                            <p class="tes__description">Ayo cek apakah tetanggamu merupakan skinwalker...</p>
                            <a href="#" class="tes__button">
                                Ikuti Tes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="section__title">
                <h2>Tes Lainnya</h2>
            </div>
            <div class="tes__container">
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_1.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="#">Tes Kebohongan<a>
                            <h2 class="tes__title">Tes Mr Krab</h2>
                            <p class="tes__description">Ayo cek...</p>
                            <a href="#" class="tes__button">
                                Ikuti Tes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_2.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="#">Tes la<a>
                            <h2 class="tes__title">Mobile esemka</h2>
                            <p class="tes__description">Ayo cek...📡</p>
                            <a href="#" class="tes__button">
                                Ikuti Tes
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_3.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="#">Tes Psikologi<a>
                            <h2 class="tes__title">Tes x</h2>
                            <p class="tes__description">Ayo cek...</p>
                            <a href="#" class="tes__button">
                                Ikuti Tes
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>