<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    {% include 'templates/header.html' %}

    <h1>404 - Page Not Found</h1>
    <p>The page you were looking for could not be found! If you entered the URL manually, please double check what you’ve entered.</p>

    {% include 'templates/footer.html' %}
</body>
</html>