<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    {% for message in messages %}
    <div class="alert fail">
        {{ message.message }}
    </div>
    {% endfor %}

    <h1>Login</h1>
    <form action="login" method="POST">
        {% csrf_token %}
        <p>Username: </p>
        <input type="text" name="username" placeholder="Username">
        <p>Password: </p>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="submit" id="submit">
    </form>
    <br>
    <p>Don't have an account? Register!</p>
    <button><a href="register">Register</a></button>
</body>
</html>