<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Account</title>
</head>

<body>
    {% for message in messages %}
    <div class="alert fail">
        {{ message.message }}
    </div>
    {% endfor %}

    <h1>Register Account</h1>
    <form method="post" action="register">
        {% csrf_token %}
        <p>First name</p>
        <input type="text" name="first_name" placeholder="First name" required>
        <p>Last name</p>
        <input type="text" name="last_name" placeholder="Last name" required>
        <p>Username: </p>
        <input type="text" name="username" placeholder="Username" required>
        <p>Email: </p>
        <input type="email" name="email" placeholder="Email" required>
        <p>Password: </p>
        <input type="password" name="password" placeholder="Password" required>
        <p>Password Confirmation: </p>
        <input type="password" name="password_confirmation" placeholder="Confirm Password" required><br>
        <input type="submit" id="submit">
    </form>

    <script>
        var submit = document.getElementById('submit');
        submit.addEventListener('click', function(e) {
            
            // e.preventDefault();
            // var form = document.getElementById('register');
            // check client side validation
            // form.submit();
        });
    </script>

</body>

</html>