
.forum__link {
    margin-top: 6rem;
    font-size: .8rem;
    color: black;
}

.forum__link__abu {
    color: #999999;
}

.container__main_forum {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-bottom: 2rem;
}

.header__main_forum {
    display: flex;
    justify-content: space-between;
}

.comment-content {
    overflow-wrap: break-word;
}

.account_info {
    display: flex;
    font-size: .8rem;
}

.account_info p {
    margin-right: .5rem;
}

.uil-user {
    margin-right: .5rem;
}

.uil-trash-alt {
    color: red;
}

.uil-thumbs-up {
    margin-right: .5rem;
}

.isi_forum {
    padding: 1rem 0;
}

.comment__action {
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    margin-left: .5rem;
    cursor: pointer;
}

textarea {
    width: 100%;
    resize: none;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
}

textarea:focus {
    outline: none !important;
    border-color: #61AEF2
}

.comment_button {
    padding: .75rem 2rem;
    border: none;
    margin: 1rem 0;
    cursor: pointer;
}

.container__comment {
    margin-top: 2rem;
    width: 100%;
    padding: 2rem;
    background: #FFFFFF;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

hr {
    margin: 2rem 0;
}