main {
    background-color: #F9F9F9;
    height: 100vh;
    padding-top: 7rem;
}

.container__profile {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    display: flex;
    color: black;
    padding: 2rem 1rem;
}

.navigation {
    min-width: 16rem;
}

.info {
    padding: 2rem;
    text-align: center;
}

.info img {
    max-width:4rem
}

.info .email {
    font-size: .6rem;
    color: #878787;
}

.button__container {
    padding: 2rem;
    font-size: .8rem;
}

.button__profile {
    display: flex;
    padding: .5rem;

}

.button__profile:hover {
    background-color:  rgb(209, 209, 209);

}

.button__profile img {
    max-width: 1rem;
}

.button__profile p {
    margin-left: .5rem;
}

.profile {
    padding: 1.5rem 3rem 3rem 1rem;
    max-width: 520px;
}

.profile__image {
    font-size: 5rem;
}

.profile p {
    overflow-wrap: break-word;
    overflow: hidden;
}

.profile h1 {
    font-size: 1.2rem;
}

.profile__header {
    display: flex;
    margin: 1rem 0;
}

.profile__header img {
    max-width: 6rem;
}

.data__diri p {
    margin-bottom: 1.5rem;
}

.container_name_role {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.name {
    color: #00267B;
    font-size: 1.5rem;
    font-weight: 600;
}

.role {
    font-size: 1.2rem;
    color: #3B8EE4;
}

.change__profile__pict {
    max-width: 3rem;
}

.bio {
    padding: 1rem;
    width: 100%;
    margin-bottom: .5rem;
}

.first__name {
    padding: .5rem .5rem .5rem 1rem;
    width: 100%;
    margin-bottom: .8rem;
}
.last__name {
    padding: .5rem .5rem .5rem 1rem;
    width: 100%;
    margin-bottom: .8rem;
}

.provinsi {
    padding: .5rem .5rem .5rem 1rem;
    margin-bottom: .5rem;
    width: 100%;
}

.cancel__apply {
    margin-top: 1rem;
}

.button {
    border: none;
    cursor: pointer;
    padding: 0.5rem 2rem;
}

.cancel {
    background-color: #F26161;
}

.cancel:hover {
    background-color: #bd5757;
}

table {
    width: 100%;
    table-layout: fixed;
}
.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

td .uil {
    color: red;
}

