main {
    margin-top: 7rem;
    text-align: center;
}

.question__container hr {
    margin-top: 2rem;
}

.question__container {
    margin-top: 4rem;
}

.question p {
    font-weight: 500;
}

.dot {
    height: 3rem;
    width: 3rem;
    background-color: #fff;
    border: solid grey thin; 
    border-radius: 50%;
    display: inline-block;
    margin: 2rem 1rem;
    cursor: pointer;
}

.blue {
    border: solid #61AEF2 thin; 
}

.green {
    border: solid #9AE782 thin; 
}

.choice {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    margin: 2rem .5rem;
    height: 1.9rem;
    width: 1.9rem;
}

.sedang {
    height: 1.5rem;
    width: 1.5rem;
}

.kecil {
    height: 1.2rem;
    width: 1.2rem;
}

.choice p:first-child{
    color: #61AEF2;
}

.choice p{
    color: #9AE782;
}

.dot:hover {
    background-color: grey !important;
}

.blue:hover {
    background-color: #61AEF2 !important;
}

.green:hover {
    background-color: #9AE782 !important;
}

main a {
    margin: 4rem;
    max-width: 50%;
}

@media screen and (max-width: 350px) {

    .question p {
        font-size: .8rem;
    }

    .choice p {
        font-size: .8rem;
    }

    .dot {
        margin: 2rem .2rem;
        height: 1.9rem;
        width: 1.9rem;
    }

    .sedang {
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .kecil {
        height: 1.2rem;
        width: 1.2rem;
    }

}

@media screen and (min-width:502px) {

    
    .dot {
        height: 3rem;
        width: 3rem;
    }

    .sedang {
        height: 2rem;
        width: 2rem;
    }
    
    .kecil {
        height: 1.5rem;
        width: 1.5rem;
    }


}