@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --header-height: 3rem;

    --hue-color: 215; 

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%); 
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);

    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: 813rem;
    }
}

.nav__btns {
    display: flex;
    align-items: center;
}

.change-theme {
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: var(--mb-1);
    cursor: pointer;
}

.change-theme:hover {
    color: var(--first-color);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, h3, h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section {
    padding: 2rem 0 4rem;
}

.section__title {
    font-size: var(--h1-font-size);
}

.section__subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-3);
}

.section__title, .section__subtitle {
    text-align: center;
}

/*==================== LAYOUT ====================*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

/*==================== BUTTONS ====================*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: #FFF;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon{
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}

.button--small {
    padding:.75rem 1rem;

}

.button--link {
    padding: 0;
    background-color: transparent;
    color: var(--first-color) ;
}

.button--link:hover{
    background-color: transparent;
    color: var(--first-color-alt);
}

/*==================== NAV ====================*/
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content:space-between;
    align-items:center;

}

.nav__logo {
    margin-left: var(--mb-2);

}

.nav__logo, .nav__toggle {
    color: var(--first-color);
    font-weight: var(--font-medium);
}

.nav__logo:hover {
    color: var(--first-color);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
    margin-right: var(--mb-2);
}

.nav__toggle:hover {
    color: var(--first-color)
}

@media screen and (max-width:767px) {
    .nav__menu {
        position:fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0,0,0, .15); 
        border-radius:1.5rem 1.5rem 0 0;
        transition: .3s;

    }
}


.nav__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__icon {
    font-size: 1.2rem;
}



.nav__close {
    position: absolute;
    right: 1.3rem;
    bottom: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

.login-signup {
    display: flex;
    flex-direction: row;
}

.login-signup li {
    margin-right: var(--mb-1-5);
}

.show-menu {
    bottom: 0;
}

.active-link {
    color: var(--first-color);
}

.home__page{
    margin-top: 6rem;
    display: flex;
}

.home__text{
    padding: 4rem 0 4rem 0;
    width: 60%;

}

.home__title {
    padding-bottom: 1rem;
    color: var(--first-color);
}

.home__subtitle {
    padding-bottom: 1rem;
    color: #61AEF2;
}

.home__text .button {
    font-size: var(--mb-0-75);
    border-radius: 10px;
}

.home__text .button__icon {
    font-size: var(--mb-0-75);
}

.main__image {
    margin: 3rem 0 0 -6rem;
    width: 36rem;
}

.home__tes {
    margin-top: 4rem;
    max-width: 820px;
}

.tes__header {
    display: flex;
    justify-content: space-between;
    margin: 0 0 2rem 0;
}

.tes__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tes__card {
    width: 16rem;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.tes__wrapper {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.tes__wrapper__content {
    padding: 0 1rem 0 1rem;

}

.tes__image {
    border-radius: 25px;
}

.tes__category {
    width: 60%;
    display: inline-block;
    background-color: #C9EAFE;
    color: #315A94;
    padding: var(--mb-0-25);
    border-radius: 5px;
    font-size: var(--mb-0-75);
    margin: 0.5rem 0 0.5rem 0;
    text-align: center;
}

.tes__title {
    font-size: var(--mb-0-75);
    font-weight: 700;
}

.tes__description {
    font-size: var(--mb-0-75);
    margin-bottom: 1rem;
}

.tes__button {
    width: 100%;
    height: 200%;
    display: inline-block;
    background-color: var(--first-color);
    color: #fff;
    padding: var(--mb-0-75);
    border-radius: 25px;
    font-size: var(--mb-1);
    text-align: center;
    font-weight: var(--font-medium);
}

/* Change background header */
.scroll-header {
    box-shadow: 0 -1px 4px 0 rgba(0,0,0, .15);
}

::-webkit-scrollbar {
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-thumb-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thub:hover{
    background-color: var(--text-color-light);
}

/*==================== MEDIA QUERIES ====================*/
/* For small devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .nav__menu {
        padding: 2rem .25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
    
    .sign__hide {
        visibility: hidden;
    }

    .home__page{
        flex-direction: column;
    }

    .home__text {
        width: 100%;
    }

    .main__image{
        margin: 0;
    }

    .home__title{
        font-size: var(--mb-1);

    }

    .home__subtitle{
        font-size: var(--mb-0-75);
    }

    .tes__header {
        font-size: var(--mb-0-75);
    }
}

@media screen and (min-width:768px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }

    body {
        margin: 0;
    }

    .section {
        padding: 6rem 0 2rem;
    }

    .section__subtitle {
        margin-bottom: 4rem;
    }

    .header{
        top: 0;
        bottom: initial;
    }

    .header,
    .main,
    .footer__container {
        padding: 0 1rem;
    }

    .nav {
        height: calc(var(--header-height) + 1.5rem);
        column-gap: 1rem;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: none;
    }

    .nav__list{
        display: flex;
        column-gap: 2rem;
    }
    
}



/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "✔";
}

/* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
}

#message-password {
    display: none;
}

#message-password-confirmation {
    display: none;
}

/* ini buat textfield comment dan buat post pakai quill, bisa di edit ininya sama textfieldnya paketin aja */
.ql-toolbar {
    max-width: 800px;
}

#editor {
    max-width: 800px;
    min-height: 200px;
}