<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    {% include 'templates/header.html' %}

    <div class="post-form">
        {% csrf_token %}
        <p>Title</p>
        <input type="text" name="title" placeholder="Title" autocomplete="off">
        <p>Thumbnail URL *Can be left blank</p>
        <input type="text" name="thumbnail" placeholder="Thumbnail URL" autocomplete="off">
        <p>Content</p>
        <div id="editor"></div>
        <p>Tag</p>
        <select name="tag" id="tag">
            {% if user.is_superuser %}
                {% for tag in tags %}
                <option value="{{ tag.name }}">{{ tag.name }}</option>
                {% endfor %}
            {% else %}
                {% for tag in tags %}
                    {% if not tag.adminOnly %}
                        <option value="{{ tag.name }}">{{ tag.name }}</option>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </select>
        {% if user.is_superuser %}
        <p>Post type: </p>
        <input type="radio" id="web-post" value="web post" name="post-type">
        <label for="web-post">Web Post</label>
        <input type="radio" id="forum-post" value="forum" name="post-type">
        <label for="forum-post">Forum Post</label>
        {% endif %}
        <br>
        <input type="submit" value="Create" onclick="createPost()">
    </div>

    <script>
        function validateForm() {
            /* Validate form */
            // get value from quill
            var content = document.getElementById("editor").children[0].innerHTML;
            var title = document.getElementsByName('title')[0].value;
            var thumbnail = document.getElementsByName('thumbnail')[0].value;

            // Title min 5
            if (title.length < 5) {
                alert("Title is too short, Min title length is 5 characters");
                return false;
            }

            // title max 200
            if (title.length > 200) {
                alert("Title is too long, Max title length is 200 characters");
                return false;
            }

            // Content min 25
            if (content.length < 25) {
                alert("Content too short! Min content including formatting are 25 characters long");
                return false;
            }
            // content max 40k
            if (content.length > 40000) {
                alert("Content too long! Max content including formatting are 40,000 characters long");
                return false;
            }
            // get radio using jquery
            var post_type = $('input[name=post-type]:checked').val();
            if (post_type == undefined) {
                alert("Please select post type");
                return false;
            }

            // verify thumbnail url
            if (thumbnail.length > 0) {
                // check regex
                var regex = /(http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?/;
                if (!regex.test(thumbnail)) {
                    alert("Invalid thumbnail url");
                    return false;
                }
            }

            return true;
        }
    
        function createPost() {
            /* send ajax, if sucess go to the post, if fail reload the page */
            if (!validateForm()){
                return;
            }

            if (confirm("Are you sure?")) {
                var content = document.getElementById('editor').children[0].innerHTML;
                var title = document.getElementsByName('title')[0].value;
                var thumbnail = document.getElementsByName('thumbnail')[0].value;
                var tag = $('#tag').val();
                var csrf = $('input[name=csrfmiddlewaretoken]').val();
                $.ajax({
                    url: '/post/create',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrf,
                        'title': title.trim(),
                        'thumbnail_url': thumbnail.trim(),
                        'content': content.trim(),
                        'tag': tag,
                        'post_Type': $('input[name=post-type]:checked').val()
                    },
                    success: function(data) {
                        // data returned on success is post id
                        if (data == 'error') {
                            window.location.href = '/post/create';
                        } else
                        if (data == 'limit')  {
                            alert('Character length invalid!')
                        } else {
                            window.location.href = '/post/' + data.toString();
                        }
                    }
                });
            }
        }
    </script>


    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var myToolbar= [
            ['bold', 'italic', 'underline', 'strike'],       
            ['blockquote', 'code-block'],

            [{ 'color': [] }, { 'background': [] }],         
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean'],                                        
            ['image'] //add image here
        ];

        function imageHandler() {
            var range = this.quill.getSelection();
            var value = prompt('please copy paste the image url here.');
            if(value){
                this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
            }
        }

        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Post content...',
            modules: {
                toolbar: {
                    container: myToolbar,
                    handlers: {
                        image: imageHandler
                    }
                }
            },
        });
    </script>

    {% include 'templates/footer.html' %}
</body>
</html>