<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>konsultasi | Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <form action="/konsultasi" method="get">
        <section class="container search__container">
            <input type="text" name="q" placeholder="Cari disini.." value={% if q %}{{q}}{% endif %}>
            <button type="submit">Search</button>
        </section>
        {% if messages %}
        <section class="container search__container" style="margin-top: 10px;">
            {% for message in messages %}
                <p style="color:red">{{ message.message }}</p>
            {% endfor %}
        </section>
        {% endif %}
        {% if searching %}
        <section class="container search__container" style="margin-top: 10px;">
            <a href="/konsultasi">⟵ Kembali ke Konsultasi</a>
        </section>
        {% endif %}
    </form>

    {% if searching or messages %}
    <main class="container flex" style="margin-top: 5px;">
    {% else %}
    <main class="container flex">
    {% endif %}
    {% if post_konsul %}
        <div class="container__forum">
        {% for post in post_konsul %}
            <div class="container__card">
                <div class="forum__about">
                    <a href="/konsultasi/{{ post.id }}"><h1>{{ post.title }}</h1></a>
                    <a class="forum__category" href="/konsultasi/tag/{{ post.tag.name|space_to_dash }}">{{ post.tag.name }}<a>
                    <p id="post-{{post.id}}">
                        <script>
                        var x;
                        try {
                            x = jQuery('{% autoescape off %}{{post.content}}{% endautoescape %}').text();
                            if (x.length > 50) {
                                x = x.slice(0,50);
                                x = x + '...';
                            }
                        } catch (e) {
                            x = "";
                        }
                        // write it
                        document.getElementById("post-{{post.id}}").innerHTML = x;
                        </script>
                    </p>
                </div>
                <div class="forum__info">
                    <div>
                        <i class="uil uil-comment"></i>
                        {{ post.comments }} Answers
                    </div>
                    <div>
                        <i class="uil uil-user"></i>
                        {% if post.user == null %}deleted{% else %}{{ post.user }}{% endif %}
                    </div>
                    <div>
                        <i class="uil uil-calendar-alt"></i>
                        <span id="date-{{ post.id }}">{{ post.created_at.isoformat }}</span>
                        <script>
                            // parse the date into dd-mm-yyyy hh:mm format
                            var date = new Date(document.getElementById('date-{{ post.id }}').innerHTML);
                            var formattedDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
                            document.getElementById('date-{{ post.id }}').innerHTML = formattedDate;
                        </script>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="container__forum">
            <div class="container__card">
                <div class="forum__about">
                    <a><h1>Belum ada pertanyaan konsultasi</h1></a>
                    <p id="post-{{post.id}}"></p>
                </div>
                <div class="forum__info"></div>
            </div>
        </div>
        {% endif %}
        </div>

        <div class="container__forum__button">
            {% if user.is_authenticated %}
            <a href="/konsultasi/create" class="create button button--flex">
                Ayo Tanya
            </a>
            <a href="/profile/{{ user.username }}/konsultasi" class="your__post button button--flex" style="text-align:center;">
                Pertanyaan Anda
            </a>
            <a class="your__post button button--flex" style="background-color: #fbfcfe"></a>
            {% else %}
            <a href="/auth/login" class="your__post button button--flex">
                Login untuk Bertanya
            </a>
            {% endif %}
            <a class="your__post button button--flex" style="background-color: #fbfcfe"></a>
        </div>
    </main>

    <div class="page-num"> 
        Page {{ post_konsul.number }} of {{ post_konsul.paginator.num_pages }}<br>
    
        {% if post_konsul.has_previous %}
            <a href="{% if q %}?q={{q}}&page=1{% else %}?page=1{% endif %}">&laquo First</a>
        {% endif %}

        {% if post_konsul.has_previous and post_konsul.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.previous_page_number }}{% else %}?page={{ post_konsul.previous_page_number}}{% endif %}">- Previous</a>
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.next_page_number }}{% else %}?page={{ post_konsul.next_page_number}}{% endif %}">- Next -</a>
        {% elif post_konsul.has_previous %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.previous_page_number }}{% else %}?page={{ post_konsul.previous_page_number}}{% endif %}">- Previous</a>
        {% elif post_konsul.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.next_page_number }}{% else %}?page={{ post_konsul.next_page_number}}{% endif %}">Next -</a>
        {% endif %}

        {% if post_konsul.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.paginator.num_pages }}{% else %}?page={{ post_konsul.paginator.num_pages}}{% endif %}">Last &raquo</a>
        {% endif %}
    </div>

    {% include 'templates/footer.html' %}
    
    <script>
        var change = document.getElementById("konsultasi");
        change.classList.add("active-link");
        change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
