<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include 'templates/header.html' %}

    List of konsultasi... 
    Available tags: 
    {% for tag in tags %}
        <a href="/konsultasi/tag/{{ tag.name|space_to_dash }}">{{ tag.name }}</a>
    {% endfor %}
    <br>
    {% if user.is_authenticated %}
        <a class="button" href="/konsultasi/create">Post konsultasi</a>
    {% else %}
        <a class="button" href="/auth/login">Login untuk berkonsultasi</a>
    {% endif %}

    {% for konsultasi in post_konsul %}
        <div class="post-lists" id="post-id-{{ konsultasi.id }}">
            <h1><a href="/konsultasi/{{ konsultasi.id }}">{{ konsultasi.title }}</a></h1>
            <p>Tag: <a href="/forum/tag/{{ konsultasi.tag.name }}">{{ konsultasi.tag.name }}</a></p>

            <p> Author: {% if konsultasi.user == null %}deleted{% else %}{{ konsultasi.user }}{% endif %} - Created at {{ konsultasi.created_at }} - last updated at {{ konsultasi.updated_at }}</p>
        </div>
    {% endfor %}

    Page {{ post_konsul.number }} of {{ post_konsul.paginator.num_pages }}<br>

    {% if post_konsul.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ post_konsul.previous_page_number }}">Previous</a>
    {% endif %}
    {% if notifications.has_next %}
        <a href="?page={{ post_konsul.next_page_number }}">Next</a>
        <a href="?page={{ post_konsul.paginator.num_pages }}">Last &raquo</a>
    {% endif %}

    {% include 'templates/footer.html' %}
</body>

</html>