<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />

    <title>Tanya-Jawab | Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <form action="/tanya-jawab" method="get">
        <section class="container search__container">
            <input type="text" name="q" placeholder="Cari disini.." value={% if q %}{{q}}{% endif %}>
            <button type="submit">Search</button>
        </section>
    </form>

    {% if messages %}
    <div class="message-alert" style="text-align: center;">
        {% for message in messages %}
        <div class="message-alert-content">
            <p style="color:red">{{ message.message }}</p>
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <section class="container" style="margin-top: 10px;">
        <div>
            <a href="/forum">⟵ Kembali ke Forum</a>
        <div>
    </section>
    <main class="container" style="margin-top: 5px;">
        <div class="container__forum">
        {% for post in post_konsul %}
            <div class="container__card">
                <div class="forum__about">
                    <a href="/tanya-jawab/{{ post.id }}"><h1>{{ post.title }}</h1></a>
                    <a class="forum__category" href="/tanya-jawab/tag/{{ post.tag.name|space_to_dash }}">{{ post.tag.name }}<a>
                    {% autoescape off %}{{ post.content|slice:"0:50" }}...{% endautoescape %}
                </div>
                <div class="forum__info">
                    <div>
                        <i class="uil uil-comment"></i>
                        {{ post.comments }} Answers
                    </div>
                    <div>
                        <i class="uil uil-user"></i>
                        {% if post.user == null %}deleted{% else %}{{ post.user }}{% endif %}
                    </div>
                    <div>
                        <i class="uil uil-calendar-alt"></i>
                        <span id="date-{{ post.id }}">{{ post.created_at.isoformat }}</span>
                        <script>
                            // parse the date into dd-mm-yyyy hh:mm format
                            var date = new Date(document.getElementById('date-{{ post.id }}').innerHTML);
                            var formattedDate = date.getDate() + '-' + (date.getMonth() + 1) + '-' + date.getFullYear() + ', ' + date.getHours() + ':' + date.getMinutes();
                            document.getElementById('date-{{ post.id }}').innerHTML = formattedDate;
                        </script>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>

        <div class="container__forum__button">
            <a class="create button button--flex" style="background-color: #0270a6">
                <span style="text-align: center;">Sedang Melihat Tag "{{ tag.name }}"</spam>
            </a>
            {% if user.is_authenticated %}
            <a href="/tanya-jawab/create" class="create button button--flex" style="margin-top: 16px;">
                Ayo Tanya
            </a>
            <a href="/profile/{{ user.username }}/tanya-jawab" class="your__post button button--flex" style="text-align:center;">
                Pertanyaan Anda
            </a>
            {% else %}
            <a href="/auth/login" class="your__post button button--flex">
                Login untuk Bertanya
            </a>
            {% endif %}
            <a class="your__post button button--flex" style="background-color: #8ee586"></a>
        </div>
    </main>

    <div class="page-num"> 
        Page {{ post_konsul.number }} of {{ post_konsul.paginator.num_pages }}<br>
    
        {% if post_konsul.has_previous %}
            <a href="{% if q %}?q={{q}}&page=1{% else %}?page=1{% endif %}">&laquo First</a>
        {% endif %}

        {% if post_konsul.has_previous and post_konsul.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.previous_page_number }}{% else %}?page={{ post_konsul.previous_page_number}}{% endif %}">- Previous</a>
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.next_page_number }}{% else %}?page={{ post_konsul.next_page_number}}{% endif %}">- Next -</a>
        {% elif post_konsul.has_previous %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.previous_page_number }}{% else %}?page={{ post_konsul.previous_page_number}}{% endif %}">- Previous</a>
        {% elif post_konsul.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.next_page_number }}{% else %}?page={{ post_konsul.next_page_number}}{% endif %}">Next -</a>
        {% endif %}

        {% if post_konsul.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ post_konsul.paginator.num_pages }}{% else %}?page={{ post_konsul.paginator.num_pages}}{% endif %}">Last &raquo</a>
        {% endif %}
    </div>

    {% include 'templates/footer.html' %}
    
    <script>
        var change = document.getElementById("tanya-jawab");
        change.classList.add("active-link");
        change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
