<!DOCTYPE html>
{% load static %}
{% load space_to_dash %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ post.title }}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    {% include 'templates/header.html' %}

    <div class="post">
        <h1>{{ post.title }}</a></h1>
        <p>Tag: <a href="/tanya-jawab/tag/{{ post.tag.name|space_to_dash }}">{{ post.tag.name }}</a></p>
        {% autoescape off %}
        {{ post.content }}
        {% endautoescape %}
        <p> Author: {% if post.user == null %}deleted{% else %}{{ post.user }}{% endif %} - Created at {{ post.created_at }} - last updated at {{ post.updated_at }}</p>
        
        {% if post.user.id == user.id %}
            <button class="button delete" onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'user')">Delete</button>
        {% endif %}
        {% if user.is_staff %}
            <button onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'admin')">Delete (Admin Mode)</button>
        {% endif %}
    </div>

    {% if user.is_staff %}
        <div class="comment-form">
            <div id="editor"></div>
            {% if user.is_authenticated %}
                <button type="submit" onclick="comment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}')">Submit</button>
            {% else %}
                <button type="submit" onclick="comment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}')" disabled>Submit</button>
            {% endif %}
        </div>
    {% endif %}

    <div class="comment-box">
        <h2>Jawaban Oleh Dokter (<span id="comment-counter">{{ comments|length }}</span>)</h2>
        <ul>
            {% for comment in comments %}
            <li class="comment" id="comments-{{ comment.id }}">
                <span id="fill-{{ comment.id }}">
                    <div style="max-width: 800px;" id="comment-{{comment.id}}">
                        {% autoescape off %}
                        {{ comment.content }}
                        {% endautoescape %}
                    </div>
                </span>

                {% if comment.user == null %}
                <p>Author: <a href="/profile/deleted">deleted</a> - Created at {{ comment.created_at }} - last updated at {{ comment.updated_at }}</p>
                {% else %}
                <p>Author: <a href="/profile/{{ comment.user.username }}">{{ comment.user.username }}</a> ({{ comment.user.first_name }} {{ comment.user.last_name }}) - Created at {{ comment.created_at }} - last updated at {{ comment.updated_at }}</p>
                {% endif %}
                
                {% if comment.user.id == user.id %}
                <button onclick="editComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}')">Edit</button>
                <button onclick="deleteComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}', 'user')">Delete</button>
                {% endif %}
                {% if user.is_staff %}
                <button onclick="deleteComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}', 'admin')">Delete (Admin Mode)</button>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>

    {% if user.is_staff %}
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        var myToolbar= [
            ['bold', 'italic', 'underline', 'strike'],       
            ['blockquote', 'code-block'],

            [{ 'color': [] }, { 'background': [] }],         
            [{ 'font': [] }],
            [{ 'align': [] }],

            ['clean'],                                        
            ['image']
        ];

        function imageHandler() {
            var range = this.quill.getSelection();
            var value = prompt('please copy paste the image url here.');
            if(value){
                this.quill.insertEmbed(range.index, 'image', value, Quill.sources.USER);
            }
        }
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Submit a comment',
            modules: {
                toolbar: {
                    container: myToolbar,
                    handlers: {
                        image: imageHandler
                    }
                }
            },
        });
    </script>
    {% endif %}
    <script type="text/javascript" src="{% static 'js/konsulHandler.js' %}"></script>

    {% include 'templates/footer.html' %}
</body>
</html>