<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>Forum | Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <form action="/forum" method="get">
        <section class="container search__container">
            <input type="text" name="q" placeholder="Cari disini.." value={% if q %}{{q}}{% endif %}>
            <button type="submit">Cari</button>
        </section>

        {% if messages %}
        <section class="container search__container" style="margin-top: 10px;">
            {% for message in messages %}
                <p style="color:red">{{ message.message }}</p>
            {% endfor %}
        </section>
        {% endif %}
        {% if searching %}
        <section class="container search__container" style="margin-top: 10px;">
            <a href="/forum">⟵ Kembali ke Forum</a>
        </section>
        {% endif %}
    </form>

    {% if searching or messages %}
    <main class="container flex" id="container-forum" style="margin-top: 5px;">
    {% else %}
    <main class="container flex" id="container-forum">
    {% endif %}
    {% if posts %}
        <div class="container__forum">
        {% for post in posts %}
            <div class="container__card">
                <div class="forum__about">
                    <a href="/forum/{{ post.id }}"><h1>{{ post.title }}</h1></a>
                    <a class="forum__category" href="/forum/tag/{{ post.tag.name|space_to_dash }}">{{ post.tag.name }}<a>
                    <p id="post-{{post.id}}">
                        <script>
                            var x;
                            try {
                                x = jQuery('{% autoescape off %}{{post.content}}{% endautoescape %}').text();
                                if (x.length > 50) {
                                    x = x.slice(0,50);
                                    x = x + '...';
                                }
                            } catch (e) {
                                x = "";
                            }
                            // write it
                            document.getElementById("post-{{post.id}}").innerHTML = x;
                        </script>
                    </p>    
                </div>
                <div class="forum__info">
                    <div class="info-content">
                        <i class="uil uil-thumbs-up"></i>
                        <span class="info-content-text">{{ post.likes }}<span class="text-inside"> Suka</span></span>
                    </div>
                    <div class="info-content">
                        <i class="uil uil-comment"></i>
                        <span class="info-content-text">{{ post.comments }}<span class="text-inside"> Komentar</span></span>
                    </div>
                    <div class="info-content">
                        <i class="uil uil-user"></i>
                        <span class="info-content-text" id="poster-account">{% if post.user == null %}deleted{% else %}{{ post.user }}{% endif %}</span>
                    </div>
                    <div class="info-content">
                        <i class="uil uil-calendar-alt"></i>
                        <span id="date-{{ post.id }}" class="info-content-text post-date">{{ post.created_at.isoformat }}</span>
                        <script>
                            // parse the date into dd-mm-yyyy hh:mm format
                            var date = new Date(document.getElementById('date-{{ post.id }}').innerHTML);
                            var formattedDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
                            document.getElementById('date-{{ post.id }}').innerHTML = formattedDate;
                        </script>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="container__forum">
            <div class="container__card">
                <div class="forum__about">
                    <a><h1>Belum ada postingan forum</h1></a>
                    <p id="post-{{post.id}}"></p>
                </div>
                <div class="forum__info"></div>
            </div>
        </div>
    {% endif %}
        </div>

        <div class="container__forum__button">
            {% if user.is_authenticated %}
            <a href="/forum/create" class="create button button--flex">
                Buat Postingan
            </a>
            <a href="/profile/{{ user.username}}/posts" class="your__post button button--flex" id="your__post">
                Postingan Anda
            </a>
            <a class="your__post button button--flex" style="background-color: #fbfcfe" id="hidden"></a>
            {% else %}
            <a href="/auth/login" class="create button button--flex" style="text-align:center;">
                Masuk untuk Membuat Postingan
            </a>
            <a class="your__post button button--flex" style="background-color: #fbfcfe" id="hidden"></a>
            {% endif %}
        </div>
    </main>

    <div class="page-num"> 
        Halaman {{ posts.number }} dari {{ posts.paginator.num_pages }}<br>
    
        {% if posts.has_previous %}
            <a href="{% if q %}?q={{q}}&page=1{% else %}?page=1{% endif %}">&laquo First</a>
        {% endif %}

        {% if posts.has_previous and posts.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ posts.previous_page_number }}{% else %}?page={{ posts.previous_page_number}}{% endif %}">- Previous</a>
            <a href="{% if q %}?q={{q}}&page={{ posts.next_page_number }}{% else %}?page={{ posts.next_page_number}}{% endif %}">- Next -</a>
        {% elif posts.has_previous %}
            <a href="{% if q %}?q={{q}}&page={{ posts.previous_page_number }}{% else %}?page={{ posts.previous_page_number}}{% endif %}">- Previous</a>
        {% elif posts.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ posts.next_page_number }}{% else %}?page={{ posts.next_page_number}}{% endif %}">Next -</a>
        {% endif %}

        {% if posts.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ posts.paginator.num_pages }}{% else %}?page={{ posts.paginator.num_pages}}{% endif %}">Last &raquo</a>
        {% endif %}
    </div>
    
    {% include 'templates/footer.html' %}
    
    <script>
        var change = document.getElementById("forum");
        change.classList.add("active-link");
        change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
