<!DOCTYPE html>
{% load static %}
{% load space_to_dash %}
{% load check_edited_comments %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum_page.css' %}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <title>{{ post.title }} | Postingan Forum Sehat.in</title>
</head>
<body class="grey">
    {% include 'templates/header.html' %}

    <main class="container flex_col">

        <div class="forum__link">
            <a class="forum__link__abu" href="/">Beranda</a> / 
            <a class="forum__link__abu" href="/forum">Forum</a> / 
            <a class="forum__link__active" href="">{{ post.title }}</a>
        </div>

        <div class="container__main_forum">
            <div class="header__main_forum">
                <div class="account_info">
                    <i class="uil uil-user"></i>
                    <P class="forum__link__active username">{% if post.user == null %}deleted{% else %}<a href="/profile/{{ post.user.username }}">{{ post.user.username }}</a>{% endif %}</P>
                    <p>•</p>
                    <p><span id="date-{{ post.id }}">{{ post.created_at.isoformat }}</span>{% if edited %} - Edited{% endif %}</p>
                    <script>
                        // parse the date into dd-mm-yyyy hh:mm format
                        var date = new Date(document.getElementById('date-{{ post.id }}').innerHTML);
                        var minutes = date.getMinutes();
                        // check if 1 digit, if yes add 0
                        if (minutes < 10) {
                            minutes = '0' + minutes;
                        }

                        var formattedDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + minutes;
                        document.getElementById('date-{{ post.id }}').innerHTML = formattedDate;
                    </script>
                </div>
                <div class="button_main_forum">
                    {% if post.user.id == user.id %}
                        <button class="comment__action" onclick="editPost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}')"><i class="uil uil-edit"></i></button>
                        <button class="comment__action" onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'user')"><i class="uil uil-trash-alt"></i></button>
                    {% else %}
                        <button class="comment__action" onclick="reportPost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}')"><i class="uil uil-info-circle"></i></button>
                    {% endif %}
                    {% if user.is_staff %}
                        <button class="comment__action" onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'admin')"><i class="uil uil-trash-alt"></i><span style="font-size: 10px;">Admin<span></button>
                    {% endif %}
                </div>
            </div>

            <div class="comment-content">
                <h2>
                    {{ post.title }}
                </h2>
                <p class="isi_forum" id="forumid-{{post.id}}">
                    <script>
                        document.getElementById('forumid-{{post.id}}').innerHTML = '{% autoescape off %}{{ post.content }}{% endautoescape %}';
                    </script>
                </p>
                <br>
                <div class="like">
                    <span style="color: #0055f2; cursor: pointer;" onclick="likePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}')"><i class="uil uil-thumbs-up"></i><span id="post-like-count">{{ likes|length }}</span> Suka</span>
                </div>
            </div>
        </div>

        <div>
            <div id="editor"></div>
            {% if user.is_authenticated %}
                <button class="button button_flex comment_button" type="submit" onclick="comment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}')">Kirim</button>
            {% else %}
                <button class="button button_flex comment_button" type="submit" onclick="comment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}')" disabled>Kirim</button>
            {% endif %}
        </div>
        <hr>

        <h2>Komentar (<span id="comment-counter">{{ comments|length }}</span>)</h2>

        {% for comment in comments %}
        <div class="container__comment" id="comments-{{ comment.id }}">
            <div class="header__main_forum">
                <div class="account_info">
                    <i class="uil uil-user"></i>
                    <P class="username">{% if comment.user == null %}deleted{% else %}<a href="/profile/{{ comment.user.username }}">{{ comment.user.username }}</a>{% endif %}</P>
                    <p>•</p>
                    <p><span id="comment-date-{{ comment.id }}">{{ comment.created_at.isoformat }}</span>{% check_edited_comments comment.created_at comment.updated_at %}</p>
                    <script>
                        // parse the date into dd-mm-yyyy hh:mm format
                        var date = new Date(document.getElementById('comment-date-{{ comment.id }}').innerHTML);
                        var formattedDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
                        document.getElementById('comment-date-{{ comment.id }}').innerHTML = formattedDate;
                    </script>
                </div>
                <div class="button_main_forum">
                    {% if comment.user.id == user.id %}
                    <button class="comment__action" onclick="editComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}')"><i class="uil uil-edit"></i></button>
                    <button class="comment__action" onclick="deleteComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}', 'user')"><i class="uil uil-trash-alt"></i></button>
                    {% else %}
                    <button class="comment__action" onclick="reportComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}')"><i class="uil uil-info-circle"></i></button>
                    {% endif %}
                    {% if user.is_staff %}
                    <button class="comment__action" onclick="deleteComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}', 'admin')"><i class="uil uil-trash-alt"></i><span style="font-size: 10px;">Admin<span></button>
                    {% endif %}
                </div>
            </div>

            <div id="comments-{{comment.id}}">
                <span id="fill-{{ comment.id }}">
                    <div class="comment-content">
                        <p class="isi_forum" id="comment-{{comment.id}}" name="isi_forum-{{comment.id}}"></p>
                        <script>
                            document.getElementsByName("isi_forum-{{comment.id}}")[0].innerHTML = '{% autoescape off %}{{ comment.content }}{% endautoescape %}';
                        </script>
                    </div>
                </span>
                <br>
                <div class="like">
                    <span style="color: #0055f2; cursor: pointer;" onclick="likeComment('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ comment.id }}', '{{ csrf_token }}')"><i class="uil uil-thumbs-up"></i><span id="comment-like-count-{{ comment.id }}">{{ comment.likes }}</span> Suka</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>

    
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="{% static 'js/forumHandler.js' %}"></script>
    {% if user.is_authenticated %}
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Ketik komentar di sini...',
            modules: {
                toolbar: {
                    container: myToolbar,
                    handlers: {
                        image: imageHandler
                    }
                }
            },
        });
    </script>
    {% else %}
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Masuk untuk mengirim komentar',
            readOnly: true,
            modules: {
                toolbar: {
                    container: myToolbar,
                    handlers: {
                        image: imageHandler
                    }
                }
            },
        });
    </script>
    {% endif %}

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% include 'templates/footer.html' %}

</body>
</html>