    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="footer__about">
                    <h6>About</h6>
                    <p class="text-justify">Sehat.in adalah platform kesehatan mental remaja Indonesia berbasis Web yang berfokus kepada kesadaran para remaja terhadap fenomena-fenomena psikologis dalam diri. Tujuan besar kami adalah agar makin banyak remaja yang meningkat kesadaran dirinya dan lebih mengenal dirinya sendiri.</p>
                </div>

                <div class="footer__categories">
                    <h6>Tes Psikologi</h6>
                    <ul class="footer-links">
                        <li><a href="/tests/health/loneliness">Loneliness Scale Test</a></li>
                        <li><a href="/tests/health/depression">Depression Test</a></li>
                        <li><a href="/tests/health/mindfulness">Mindfulness</a></li>
                    </ul>
                </div>


                <div class="footer__links">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="/faq" target = '_blank'>FAQ</a></li>
                        <li><a href="mailto:contact.sehatin@gmail.com">Contact Us</a></li>
                        <li><a href="/privacy-policy" target = '_blank'>Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>

        <div class="container copyright">
            <div class="row">
                <div>
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                    <a href="/">Sehatin</a>.<br>
                    </p>
                </div>

                <div>
                    <ul class="social-icons" style="padding-left: 250px;">
                        <li><a class="facebook" href="https://www.facebook.com/fbsehatin" target='_blank'><i class="uil uil-facebook"></i></a></li>
                        <li><a class="twitter" href="https://twitter.com/twsehatin" target='_blank'><i class="uil uil-twitter"></i></a></li>
                        <li><a class="dribbble" href="https://www.youtube.com/channel/UCJthxoW77DVAK98HXArvhQA" target='_blank'><i class="uil uil-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>