<header class="header">
    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a class="li-header" href="/post">Post</a></li>
            {% if user.is_authenticated %}
            <li><a class="li-header" href="#">Profile</a></li>
            <li><a class="li-header button logout" href="/logout">Logout</a></li>
            {% else %}
            <li><a class="li-header button login-register" href="/auth/login">Login or Register</a></li>
            {% endif %}
        </ul>
    </div>
</header>

{% if messages %}
<div class="message-alert">
    {% for message in messages %}
    <div class="message-alert-content">
        <p>{{ message.message }}</p>
    </div>
    {% endfor %}
</div>
{% endif %}