    {% load static %}
    {% load remove_unused %}
    <header class="header" id="header">
        <nav class="nav container scroll-header">
            <a href="/" class="nav__logo">
                <img src="{% static 'img/logo_horizontal.svg' %}" alt="logo">            </a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="/" id="home" class="nav__link">
                            <i class="uil uil-estate nav__icon"></i> Beranda
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/tests" id="test" class="nav__link">
                            <i class="uil uil-pen nav__icon"></i> Tes
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/artikel" id="artikel" class="nav__link">
                            <i class="uil uil-newspaper nav__icon"></i> Artikel
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/forum" id="forum" class="nav__link " >
                            <i class="uil uil-comment-add nav__icon"></i> Forum
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="/konsultasi" id="konsultasi" class="nav__link">
                            <i class="uil uil-info nav__icon"></i> Konsultasi
                        </a>
                    </li>

                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">

                {% if user.is_authenticated %}
                    <ul class="account">
                        <li>
                            <i style="padding-bottom: 5px;" class="uil uil-bell dropdown account__icon" onclick="">
                                {% if notifications %}
                                <div class="dropdown-content">
                                {% for notif in notifications %}
                                    {% if not notif.read %}
                                        <script>
                                            var notifIsNotRead_{{notif.id}} = true;
                                        </script>
                                        {% if notif.post_Forum %}
                                            <a style="cursor: pointer;" id="notif-{{notif.id}}" onclick="if (notifIsNotRead_{{notif.id}}) markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); window.location.href='/forum/{{ notif.post_Forum.id }}/{{ notif.post_Forum.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</a>
                                            <script>
                                                $("#notif-{{notif.id}}").on('mousedown', function(e) { 
                                                    if( e.which == 2 ) {
                                                        if (notifIsNotRead_{{notif.id}}) {}
                                                        markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); 
                                                        window.open('/forum/{{ notif.post_Forum.id }}/{{ notif.post_Forum.title|remove_unused }}#comments-{{ notif.comment.id }}', '_blank').focus();
                                                        notifIsNotRead_{{notif.id}} = false;
                                                    }
                                                 }); 
                                            </script>
                                        {% elif notif.post_Konsultasi %}
                                            <a style="cursor: pointer;" id="notif-{{notif.id}}" onclick="if (notifIsNotRead_{{notif.id}}) markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); window.location.href='/konsultasi/{{ notif.post_Konsultasi.id }}/{{ notif.post_Konsultasi.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</a>
                                            <script>
                                                $("#notif-{{notif.id}}").on('mousedown', function(e) { 
                                                    if( e.which == 2 ) {
                                                        if (notifIsNotRead_{{notif.id}})
                                                        markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); 
                                                        window.open('/konsultasi/{{ notif.post_Konsultasi.id }}/{{ notif.post_Konsultasi.title|remove_unused }}#comments-{{ notif.comment.id }}', '_blank').focus();
                                                        notifIsNotRead_{{notif.id}} = false;
                                                    }
                                                 }); 
                                            </script>
                                        {% elif notif.comment %}
                                            {% if notif.post_Forum %}
                                                <a style="cursor: pointer;" id="notif-{{notif.id}}" onclick="if (notifIsNotRead_{{notif.id}}) markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); window.location.href='/forum/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</a>
                                                <script>
                                                    $("#notif-{{notif.id}}").on('mousedown', function(e) { 
                                                        if( e.which == 2 ) {
                                                            if (notifIsNotRead_{{notif.id}})
                                                            markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); 
                                                            window.open('/forum/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}', '_blank').focus();
                                                            notifIsNotRead_{{notif.id}} = false;
                                                        }
                                                     }); 
                                                </script>
                                            {% else %}
                                                <a style="cursor: pointer;" id="notif-{{notif.id}}" onclick="if (notifIsNotRead_{{notif.id}}) markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); window.location.href='/konsultasi/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}'">{{ notif.notification_Content }}</a>
                                                <script>
                                                    $("#notif-{{notif.id}}").on('mousedown', function(e) { 
                                                        if( e.which == 2 ) {
                                                            if (notifIsNotRead_{{notif.id}})
                                                            markRead('{{ notif.id }}', '{{ user.username }}' ,'{{ csrf_token }}'); 
                                                            window.open('/konsultasi/{{ notif.post.id }}/{{ notif.post.title|remove_unused }}#comments-{{ notif.comment.id }}', '_blank').focus();
                                                            notifIsNotRead_{{notif.id}} = false;
                                                        }
                                                     }); 
                                                </script>
                                            {% endif %}
                                        {% else %}
                                            <a href="/profile/{{ user.username }}/notification">{{ notif.notification_Content }}</a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endif %}
                            </i>
                        </li>
                        <li>
                            <i class="uil uil-angle-down dropdown account__icon">
                                <div class="dropdown-content" id="profile-dropdown">
                                    <a href="/profile/{{user.username}}"><i class="uil uil-user-square"></i> Profil Saya</a>
                                    <a href="/profile/{{ user.username }}/posts"><i class="uil uil-users-alt"></i> Post Forum Saya</a>
                                    <a href="/profile/{{ user.username }}/konsultasi"><i class="uil uil-comment-alt-message"></i> Pertanyaan Saya</a>
                                    <a href="/profile/{{user.username}}/history"><i class="uil uil-history"></i> Riwayat Tes Saya</a>
                                    <a href="/logout" id="logout-header"><i class="uil uil-sign-out-alt"></i> Keluar</a>
                                </div>
                            </i>
                        </li>
                        <li>
                            <div class="avatar">
                                <i class="uil uil-user account__icon"></i>
                            </div>
                        </li>
                    </ul>
                {% else %}
                <ul class="login-signup">
                    <li class="sign__hide">
                        <a href="/auth/register" class="nav__link">
                            Daftar
                        </a>
                    </li>
                    <li>
                        <a href="/auth/login" class="nav__link">
                            Masuk
                        </a>
                    </li>
                </ul>
                {% endif %}

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    {% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'js/notifHandler.js' %}"></script>
    {% endif %}