{% comment %} <!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>
    {% include 'templates/header.html' %}

    <h1>Hello worldo, こんいちわ</h1>
    {% if user.is_authenticated %}
    <p>Welcome {{ user.first_name }}!</p>
    <p>Currently logged in as {{ user.username }}</p>
    <p>Your email address is {{ user.email }}</p>
    <p>Your full name is {{ user.first_name }} {{ user.last_name }}</p>
    <p>Your user id is {{ user.id }}</p>
    <p>Your staff status is {{ user.is_staff }}</p>
    <p>Your perrmission is {{ user.get_user_permissions }}</p>
    <p>Your date joined is {{ user.date_joined }}</p>
    <p>Your last login is {{ user.last_login }}</p>
    {% endif %}

    {% include 'templates/footer.html' %}
</body>

</html> {% endcomment %}

<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Sehatin</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="nav container scroll-header">
            <a href="#" class="nav__logo">Ini logo</a>
            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list grid">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">
                            <i class="uil uil-estate nav__icon"></i> Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#quiz" class="nav__link">
                            <i class="uil uil-pen nav__icon"></i> Quiz
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#artikel" class="nav__link">
                            <i class="uil uil-newspaper nav__icon"></i> Artikel
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#forum" class="nav__link " >
                            <i class="uil uil-comment-add nav__icon"></i> Forum
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="#about" class="nav__link">
                            <i class="uil uil-info nav__icon"></i> About
                        </a>
                    </li>

                </ul>
                <i class="uil uil-times nav__close" id="nav-close"></i>
            </div>

            <div class="nav__btns">
                {% if user.is_authenticated %}
                <ul class="login-signup">
                    <li>
                        <a href="/profile/{{ user.username }}" class="nav__link">
                            Profile
                        </a>
                    </li>
                    <li class="sign__hide">
                        <a href="{% url 'logout' %}" class="nav__link">
                            Logout
                        </a>
                    </li>
                </ul>                
                {% else %}
                <ul class="login-signup">
                    <li class="sign__hide">
                        <a href="/auth/register" class="nav__link">
                            Signup
                        </a>
                    </li>
                    <li>
                        <a href="/auth/login" class="nav__link">
                            Login
                        </a>
                    </li>
                </ul>
                {% endif %}

                <div class="nav__toggle" id="nav-toggle">
                    <i class="uil uil-apps"></i>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <section class="container home__page">
            <div>
                <div class="home">
                    <img class="main__image" src="{% static 'img/raw-landing-image.svg' %}" alt="image landing page">
                </div>
            </div>
            <div class="home__text">
                <h3 class="home__title">
                    Anak muda khususnya gen z dan milenial adalah yang paling rentan terkena gangguan mental di era pandemi ini.
                </h3>
                <p class="home__subtitle">
                    Apakah kamu salah satunya? <br> Yuk cek keadaan mental mu dengan tes psikologi sehat.in
                </p>
                <a href="#tes" class="button button--flex">
                    Tes Sekarang<i class="uil uil-message button__icon"></i>
                </a>
            </div>
        </section>

        <section class="container home__tes">
            <div class="tes__header">
                <h1>Tes Psikologi</h1>
                <a href="#">Lihat semua</a>
            </div>
            <div class="tes__container">
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_1.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Tingkat Rasa Kesepian: Loneliness Scale</h2>
                            <p class="tes__description">Rasa kesepian yang tinggi dikhawatirkan dapat memicu masalah terhadap kesehatan mental kamu.Cek tingkat...</p>
                             <a href="#tes" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_2.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Mindfulness: Menemukan hidup yang lebih bermakna</h2>
                            <p class="tes__description">Mindfulness banyak dikaitkan dengan kebahagiaan, kesehatan, dan ketentraman pikiran, tetapi banyak dari kita mungkin...</p>
                             <a href="#tes" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_3.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Kepribadian MBTI: Kenali dirimu</h2>
                            <p class="tes__description">MBTI adalah singkatan dari The Myers-Briggs Type Indicator. MBTI merupakan sebuah instrumen untuk melakukan assesment atau</p>
                             <a href="#tes" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="container home__tes">
            <div class="tes__header">
                <h1>Artikel</h1>
                <a href="#">Lihat semua</a>
            </div>
            <div class="tes__container">
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_1.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Tingkat Rasa Kesepian: Loneliness Scale</h2>
                            <p class="tes__description">Rasa kesepian yang tinggi dikhawatirkan dapat memicu masalah terhadap kesehatan mental kamu.Cek tingkat...</p>
                             <a href="#tes" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="assets/img/tes_image_2.svg" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Mindfulness: Menemukan hidup yang lebih bermakna</h2>
                            <p class="tes__description">Mindfulness banyak dikaitkan dengan kebahagiaan, kesehatan, dan ketentraman pikiran, tetapi banyak dari kita mungkin...</p>
                             <a href="#tes" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="assets/img/tes_image_3.svg" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="">Tes Psikologi<a>
                            <h2 class="tes__title">Tes Kepribadian MBTI: Kenali dirimu</h2>
                            <p class="tes__description">MBTI adalah singkatan dari The Myers-Briggs Type Indicator. MBTI merupakan sebuah instrumen untuk melakukan assesment atau</p>
                             <a href="#tes" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>



    

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>