<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}
    
    <main>
        <section class="container home__page">
            <div>
                <div class="home">
                    <img class="main__image" src="{% static 'img/raw-landing-image.svg' %}" alt="image landing page">
                </div>
            </div>
            <div class="home__text">
                {% if messages %}
                    <div class="message-alert">
                        {% for message in messages %}
                        <div class="message-alert-content">
                            <p style="color:red">{{ message.message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h3 class="home__title">
                    Anak muda khususnya gen z dan milenial adalah yang paling rentan terkena gangguan mental di era pandemi ini.
                </h3>
                <p class="home__subtitle">
                    Apakah kamu salah satunya? <br> Yuk cek keadaan mental mu dengan tes psikologi sehat.in
                </p>
                <a href="/tests" class="button button--flex">
                    Tes Sekarang<i class="uil uil-message button__icon"></i>
                </a>
            </div>
        </section>

        <section class="container home__tes">
            <div class="tes__header">
                <h1>Tes Psikologi</h1>
                <a href="/tests">Lihat semua</a>
            </div>
            <div class="tes__container">
                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_1.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="/tests/health/loneliness">Health<a>
                            <a href="/tests/health/loneliness"><h2 class="tes__title">Loneliness Scale Test</h2></a>
                            <p class="tes__description-fit-text">Ketahui perasaan subjektif kesepian dirimu serta perasaan isolasi sosial yang kamu alami.</p>
                            <a href="/tests/health/loneliness" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_4.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category">Health<a>
                            <a href="/tests/health/depression"><h2 class="tes__title">Depression Test</h2></a>
                            <p class="tes__description-fit-text">Ikuti tes ini untuk membantu menentukan apakah kamu memiliki gejala depresi dan untuk menilai apakah kamu harus berbicara dengan tenaga profesional kesehatan mental.</p>
                            <a href="/tests/health/depression" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

                <div class="tes__card">
                    <div class="tes__wrapper">
                        <img class="tes__image" src="{% static 'img/tes_image_2.svg' %}" alt="tes image">
                        <div class="tes__wrapper__content">
                            <a class="tes__category" href="/tests/health/mindfulness">Health<a>
                            <a href="/tests/health/mindfulness"><h2 class="tes__title">Mindfulness</h2></a>
                            <p class="tes__description-fit-text">Tes ini digunakan untuk mengetahui apakah, atau seberapa sering, kamu mungkin mengalami beberapa emosi dan tidak menyadarinya.</p>
                            <a href="/tests/health/mindfulness" class="tes__button">
                                Tes Sekarang
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        </section>

        <section class="container home__tes">
            <div class="tes__header">
                <h1>Artikel</h1>
                <a href="/artikel">Lihat semua</a>
            </div>
            <div class="tes__container">
                {% for post in latest_articles %}
                <a href="artikel/{{ post.id }}">
                    <div class="tes__card">
                        <div class="tes__wrapper">
                            <img class="tes__image" src="{% if post.thumbnail_url %}{{post.thumbnail_url}}{% else %}/static/img/no_image.png{% endif %}" onerror="this.onerror=null; this.src='/static/img/no_image.png'" alt="{{ post.title }}">
                            <div class="tes__wrapper__content">
                                <a class="tes__category" href="/artikel/tag/{{ post.tag.name }}">{{ post.tag.name }}</a>
                                <a href = "/artikel/{{ post.id }}"><h2 class="tes__title">{{ post.title }}</h2></a>
                                <p id="post-{{post.id}}" class="tes__description">
                                    <script>
                                        var x;
                                        try {
                                            x = jQuery('{% autoescape off %}{{post.content}}{% endautoescape %}').text();
                                            if (x.length > 50) {
                                                x = x.slice(0,50);
                                                x = x + '...';
                                            }
                                        } catch (e) {
                                            x = "";
                                        }
                                        // write it
                                        document.getElementById("post-{{post.id}}").innerHTML = x;
                                    </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

        </section>

        
        <section class="container home__tes">
            <div class="tes__header">
                <h1>Forum</h1>
                <a href="/forum">Lihat semua</a>
            </div>
             <div class="tes__container">
                <a href="/forum/{{ latest_forum.0.id }}">
                    <div class="tes__card">
                        <div class="tes__wrapper">
                            <img class="tes__image" src="{% static 'img/forum1.svg' %}" alt="forum-{{ latest_forum.0.id }}">
                            <div class="tes__wrapper__content">
                                <a class="tes__category" href="">{{ latest_forum.0.tag.name }}<a>
                                <h2 class="tes__title">{{ latest_forum.0.title }}</h2>
                                <p id="forum-{{latest_forum.0.id}}" class="tes__description">
                                    <script>
                                    try {
                                        x = jQuery('{% autoescape off %}{{latest_forum.0.content}}{% endautoescape %}').text();
                                        if (x.length > 50) {
                                            x = x.slice(0,50);
                                            x = x + '...';
                                        }
                                    } catch (e) {
                                        x = "";
                                    }
                                    // write it
                                    document.getElementById("forum-{{latest_forum.0.id}}").innerHTML = x;
                                    </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/forum/{{ latest_forum.1.id }}">
                    <div class="tes__card">
                        <div class="tes__wrapper">
                            <img class="tes__image" src="{% static 'img/forum2.svg' %}" alt="forum-{{ latest_forum.1.id }}">
                            <div class="tes__wrapper__content">
                                <a class="tes__category" href="">{{ latest_forum.1.tag.name }}<a>
                                <h2 class="tes__title">{{ latest_forum.1.title }}</h2>
                                <p id="forum-{{latest_forum.1.id}}" class="tes__description">
                                    <script>
                                    try {
                                        x = jQuery('{% autoescape off %}{{latest_forum.1.content}}{% endautoescape %}').text();
                                        if (x.length > 50) {
                                            x = x.slice(0,50);
                                            x = x + '...';
                                        }
                                    } catch (e) {
                                        x = "";
                                    }
                                    // write it
                                    document.getElementById("forum-{{latest_forum.1.id}}").innerHTML = x;
                                    </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>

                <a href="/forum/{{ latest_forum.2.id }}">
                    <div class="tes__card">
                        <div class="tes__wrapper">
                            <img class="tes__image" src="{% static 'img/forum3.svg' %}" alt="forum-{{ latest_forum.2.id }}">
                            <div class="tes__wrapper__content">
                                <a class="tes__category" href="">{{ latest_forum.2.tag.name }}<a>
                                <h2 class="tes__title">{{ latest_forum.2.title }}</h2>
                                <p id="forum-{{latest_forum.2.id}}" class="tes__description">
                                    <script>
                                    try {
                                        x = jQuery('{% autoescape off %}{{latest_forum.2.content}}{% endautoescape %}').text();
                                        if (x.length > 50) {
                                            x = x.slice(0,50);
                                            x = x + '...';
                                        }
                                    } catch (e) {
                                        x = "";
                                    }
                                    // write it
                                    document.getElementById("forum-{{latest_forum.2.id}}").innerHTML = x;
                                    </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>

        
        <section class="container home__tes">
            <div class="tes__header">
                <h1>Singkat mengenai Sehatin</h1>
            </div>

            <div class="about">
                <img src="{% static 'img/logo.svg' %}" alt="">
                <p>
                    Sehat.in adalah platform kesehatan mental remaja Indonesia berbasis Web yang berfokus kepada kesadaran para remaja terhadap fenomena-fenomena psikologis dalam diri. 
                    <br><br>
                    Tujuan besar kami adalah agar makin banyak remaja yang meningkat kesadaran dirinya dan lebih mengenal dirinya sendiri, apa yang sedang terjadi dalam diri mereka dan tentunya agar kesehatan mental mereka makin membaik seiring berjalannya waktu.
                </p>
            </div>

        </section>

    </main>

    {% include 'templates/footer.html' %}

    <script>
    var change = document.getElementById("home");
    change.classList.add("active-link");
    change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>