<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <title>Test Tingkat kementalan</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <main class="main container-wrapper">
        <div class="main-content">
            <div class="test-container">
                <div class="test-explanation">
                    <div>
                        <h1>Tes Mental mentalan</h1>
                        <p>Kita main jauh-jauhan siapa yang bisa mentalin bola lebih jauh.</p>
                    </div>
        
                    <div class="panduan">
                        <h2>Panduan Pengisian</h2>
                        <ol>
                            <li>
                                Isilah dengan jujur sesuai kepribadianmu.
                            </li>
                            <li>
                                Cari tempat yang nyaman dan kondusif 
                            </li>
                            <li>
                                Hasil tes bisa kamu dapatkan setelah mengisi semua pertanyaan dengan lengkap.
                            </li>
                        </ol>
                    </div>

                    <div class="btn-mulai-div">
                        <a class="btn-mulai" href="/tests/health/kesehatan-mental/question">Mulai Test</a>
                    </div>

                    
                </div>
        
                <div class="img-area">
                    <div class="bg-img">
                        <img class="thumbnail" src="../assets/img/test1.png" alt="">
                    </div>

                </div>
            </div>
        </div>
    </main>

    {% include 'templates/footer.html' %}
    {% comment %} <script src="../assets/js/app.js"></script> {% endcomment %}
</body>
</html>