<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/tes.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <title>Tes Kesadaran | Sehat.in</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <div>
        <div class="container container__tes">
            <div class="penjelasan__tes">
                <div class="tes__title" style="margin-right: 10px;">  {% comment %} TEMPORARY STYLE {% endcomment %}
                    <h2>Tes Kesadaran</h2>
                </div>
                <div class="tes__panduan" style="margin-top: 10px;">
                    <p>Tes ini digunakan untuk mengetahui apakah, atau seberapa sering, kamu mungkin mengalami beberapa emosi dan tidak menyadarinya.</p>
                    <br>
                    <h3>Panduan Pengisian</h3>
                    <ol>
                        <li>Bacalah pernyataan-pernyataan pada lembar berikut.</li>
                        <li>Jawablah setiap nomor dengan sungguh-sungguh sesuai dengan  keadaan yang sebenarnya. Setiap nomor harap diisi dan usahakan tidak ada yang terlewat. 
                        <li>Tidak ada jawaban yang dianggap salah, semua jawaban adalah  benar jika diisi dengan jujur sesuai dengan keadaan saat ini. </li></li>        
                        <li>Pilih salah satu dari empat pilihan jawaban yang ada, yang paling sesuai dengan mengklik pilihan tersebut</li>
                    </ol>
                </div>
                
                <a href="/tests/health/mindfulness/question" class="btn__mulai">
                    Mulai Tes
                </a>
            </div>
            <div>
                <div class="img__wrapper">
                    <img class="thumbnail" src="{% static 'img/tes_image_2.svg' %}" alt="">
                </div>
                
            </div>
        </div>
    </div>
    
</body>
</html>