<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum.css' %}">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>

    <title>Create Artikel | Sehat.in</title>
</head>
<body class="grey">

    <main class="container create_post_container">
        <div class="create_post_header">
            <a href="/artikel">
                <i class="uil uil-angle-left"></i>
            </a>
    
            <h3>Post Artikel</h3>
            {% if messages %}
            <div class="message-alert" style="text-align: center;">
                {% for message in messages %}
                <div class="message-alert-content">
                    <p style="color:red">{{ message.message }}</p>
                </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        <hr>

        <div class="input__area">
            {% csrf_token %}
            <p>Title
                <input type="text" name="title" placeholder="Title" autocomplete="off">
            </p>
            <p>Thumbnail
                <input type="text" name="thumbnail_url" placeholder="thumbnail" autocomplete="off">
            </p>
            <div id="editor"></div>
            <div class="button__area" >
                <div>
                    <p>Tag
                        <select name="tag" id="tag">
                            {% for tag in tags %}
                                <option value="{{ tag.name }}">{{ tag.name }}</option>
                            {% endfor %}
                        </select>
                    </p>
                </div>
                <div>
                    <button class="submit_post button button__flex" value="Create" onclick="createPost()">Submit</button>
                    <button class="cancel_post button button_flex" onclick="location.href='/artikel';">Cancel</button>
                </div>
            </div>
        </div>
    </main>

    <script>
        function validateForm() {
            /* Validate form */
            // get value from quill
            var content = document.getElementById("editor").children[0].innerHTML;
            var title = document.getElementsByName('title')[0].value;
            var thumbnail = document.getElementsByName('thumbnail_url')[0].value;

            // Title min 5
            if (title.length < 5) {
                alert("Title is too short, Min title length is 5 characters");
                return false;
            }

            // title max 200
            if (title.length > 200) {
                alert("Title is too long, Max title length is 200 characters");
                return false;
            }

            // Content min 25
            if (content.length < 25) {
                alert("Content too short! Min content including formatting are 25 characters long");
                return false;
            }
            // content max 40k
            if (content.length > 40000) {
                alert("Content too long! Max content including formatting are 40,000 characters long");
                return false;
            }
            // Validate thumbnail
            if (!(thumbnail.startsWith('https://') && (thumbnail.endsWith('.png') || thumbnail.endsWith('.jpg') || thumbnail.endsWith('.jpeg')))) {
                // Check if img is http
                if (thumbnail.startsWith('http://')) {
                    alert('Image linked needs to be secured (HTTPS)!');
                } else {
                    alert('Invalid linked image! Image must be a png, jpg or jpeg!');
                }
                return false;
            }

            return true;
        }
    
        function createPost() {
            /* send ajax, if sucess go to the post, if fail reload the page */
            if (!validateForm()){
                return;
            }

            if (confirm("Are you sure?")) {
                var content = document.getElementById('editor').children[0].innerHTML;
                var title = document.getElementsByName('title')[0].value;
                var thumbnail = document.getElementsByName('thumbnail_url')[0].value;
                var tag = $('#tag').val();
                var csrf = $('input[name=csrfmiddlewaretoken]').val();
                $.ajax({
                    url: '/artikel/create',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': csrf,
                        'title': title.trim(),
                        'thumbnail_url': thumbnail.trim(),
                        'content': content.trim(),
                        'tag': tag,
                    },
                    success: function(data) {
                        // data returned on success is post id
                        if (data == 'error') {
                            window.location.href = '/artikel/create';
                        } else
                        if (data == 'limit')  {
                            alert('Character length invalid!')
                        } else {
                            window.location.href = '/artikel/' + data.toString();
                        }
                    }
                });
            }
        }
    </script>

    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript" src="{% static 'js/forumHandler.js' %}"></script>
    <script>
        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Post content...',
            modules: {
                toolbar: {
                    container: myToolbar,
                    handlers: {
                        image: imageHandler
                    }
                }
            },
        });
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
