<!DOCTYPE html>
{% load static %}
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>                          
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    
    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <title>Artikel | Sehat.in</title>
</head>

<body>
    {% include 'templates/header.html' %}

    <main>
        <section class="container search__container">
            <form action="/artikel" method="get">
                <input type="text" name="q" placeholder="Cari artikel disini..">
                <button type="submit">Search</button>
            </form>
        {% if messages %}
            <div class="message-alert">
                {% for message in messages %}
                <div class="message-alert-content">
                    <p style="color:red">{{ message.message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </section>

        <section class="container home__tes">
            <div>
                <a href="/artikel">⟵ Kembali ke Artikel</a>
            <div>
        </section>

        <section class="container home__tes" style="margin-top: 10px;">
            <div class="tes__header">
                <h1>Artikel dengan tag "{{ tag.name }}"</h1>
                {% if user.is_staff %}
                    <a href="/artikel/create">Buat Artikel</a>
                {% endif %}
            </div>
            <div class="tes__container">
                {% for post in posts %}
                <a href="/artikel/{{post.id}}">
                    <div class="tes__card"> 
                        <div class="tes__wrapper">
                            <img class="tes__image" src="{% if post.thumbnail_url %}{{post.thumbnail_url}}{% else %}/static/img/no_image.png{% endif %}" onerror="this.onerror=null; this.src='/static/img/no_image.png'" alt="{{ post.title }}">
                            <div class="tes__wrapper__content">
                                <a class="tes__category" href="/artikel/tag/{{post.tag.name}}">{{ post.tag.name }}</a>
                                <h2 class="tes__title">{{ post.title }}</h2>
                                <p id="post-{{post.id}}" class="tes__description">
                                    <script>                                        
                                        var x;
                                        try {
                                            x = jQuery('{% autoescape off %}{{post.content}}{% endautoescape %}').text();
                                            if (x.length > 50) {
                                                x = x.slice(0,50);
                                                x = x + '...';
                                            }
                                        } catch (e) {
                                            x = "";
                                        }
                                        // write it
                                        document.getElementById("post-{{post.id}}").innerHTML = x;
                                    </script>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>

    <div class="page-num"> 
        Halaman {{ posts.number }} dari {{ posts.paginator.num_pages }}<br>
    
        {% if posts.has_previous %}
            <a href="{% if q %}?q={{q}}&page=1{% else %}?page=1{% endif %}">&laquo First</a>
        {% endif %}

        {% if posts.has_previous and posts.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ posts.previous_page_number }}{% else %}?page={{ posts.previous_page_number}}{% endif %}">- Sebelumnya</a>
            <a href="{% if q %}?q={{q}}&page={{ posts.next_page_number }}{% else %}?page={{ posts.next_page_number}}{% endif %}">- Berikutnya -</a>
        {% elif posts.has_previous %}
            <a href="{% if q %}?q={{q}}&page={{ posts.previous_page_number }}{% else %}?page={{ posts.previous_page_number}}{% endif %}">- Sebelumnya</a>
        {% elif posts.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ posts.next_page_number }}{% else %}?page={{ posts.next_page_number}}{% endif %}">Berikutnya -</a>
        {% endif %}

        {% if posts.has_next %}
            <a href="{% if q %}?q={{q}}&page={{ posts.paginator.num_pages }}{% else %}?page={{ posts.paginator.num_pages}}{% endif %}">Last &raquo</a>
        {% endif %}
    </div>

    <script>
    var change = document.getElementById("artikel");
    change.classList.add("active-link");
    change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% include 'templates/footer.html' %}
</body>

</html>