<!DOCTYPE html>
{% load static %}
<html lang="en">
{% load static %}
{% load space_to_dash %}
<head>                          
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />
    <title>Sehatin</title>
</head>

<body>
    {% include 'templates/header.html' %}

    <main>
        <section class="container search__container">
            <form action="/artikel" method="get">
                <input type="text" name="q" placeholder="Cari artikel disini..">
                <button type="submit">Search</button>
            </form>
        {% if messages %}
            <div class="message-alert">
                {% for message in messages %}
                <div class="message-alert-content">
                    <p style="color:red">{{ message.message }}</p>
                </div>
                {% endfor %}
            </div>
        {% endif %}
        </section>

        <section class="container home__tes">
            <div>
                <a href="/artikel">⟵ Kembali ke Artikel</a>
            <div>
        </section>

        <section class="container home__tes" style="margin-top: 10px;">
            <div class="tes__header">
                <h1>Artikel dengan tag "{{ tag.name }}"</h1>
                {% if user.is_staff %}
                    <a href="/forum/create">Create Post</a>
                {% endif %}
            </div>
            <div class="tes__container">
                {% for post in posts %}
                <a href="artikel/{{ post.id }}">
                    <div class="tes__card">
                        <div class="tes__wrapper">
                            <img class="tes__image" src="{% if post.thumbnail_url %}{{post.thumbnail_url}}{% else %}/static/img/no_image.png{% endif %}" onerror="this.onerror=null; this.src='/static/img/no_image.png'" alt="{{ post.title }}">
                            <div class="tes__wrapper__content">
                                <a class="tes__category" href="/artikel/tag/{{ post.tag.name }}">{{ post.tag.name }}</a>
                                <h2 class="tes__title">{{ post.title }}</h2>
                                <div id="desc-{{ post.id }}">{% autoescape off %}{{ post.content|slice:"0:50" }}...{% endautoescape %}</div>
                                <script>
                                x = document.getElementById("desc-{{ post.id }}").getElementsByTagName("P")[0];
                                x.classList.add("tes__description");
                                </script>
                            </div>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>


    Page {{ posts.number }} of {{ posts.paginator.num_pages }}<br>

    {% if posts.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{ posts.previous_page_number }}">Previous</a>
    {% endif %}
    {% if notifications.has_next %}
        <a href="?page={{ posts.next_page_number }}">Next</a>
        <a href="?page={{ posts.paginator.num_pages }}">Last &raquo</a>
    {% endif %}

    <script>
    var change = document.getElementById("artikel");
    change.classList.add("active-link");
    change.href = "#";
    </script>

    <script src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    {% include 'templates/footer.html' %}
</body>

</html>