<!DOCTYPE html>
{% load static %}
{% load space_to_dash %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/forum_page.css' %}">

    <link rel="icon" 
        type="image/png" 
        href="{% static 'img/favicon/favicon.ico' %}" 
    />

    <script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <title>{{ post.title }} | Artikel Sehatin</title>
</head>
<body>
    {% include 'templates/header.html' %}

    <main class="container">

        <section>
            <div class="artikel__link">
                <a class="artikel__link__abu" href="/">Beranda</a> /
                <a class="artikel__link__abu" href="/artikel">Artikel</a> /
                <a href="/artikel/{{ post.id }}/{{ post.title }}">{{ post.title }}</a>
            </div>

            <div class="artikel__konten">
                {% if messages %}
                    <div class="message-alert">
                        {% for message in messages %}
                        <div class="message-alert-content">
                            <p style="color:red">{{ message.message }}</p>
                        </div>
                        {% endfor %}
                    </div>
                {% endif %}

                <h1>{{ post.title }}</h1>
                <p>Tag: <a href="/artikel/tag/{{ post.tag.name|space_to_dash }}">{{ post.tag.name }}</a></p>
 
                <img class="thumbnail-artikel" src="{% if post.thumbnail_url %}{{post.thumbnail_url}}{% else %}/static/img/no_image.png{% endif %}" onerror="this.onerror=null; this.src='/static/img/no_image.png'" alt="{{ post.title }}">

                {% autoescape off %}
                {{ post.content }}
                {% endautoescape %}

                <br>
                <p> <b>Penulis:</b> {% if post.user == null %}deleted{% else %}{{ post.user }}{% endif %}<br><b>Dibuat: </b><span id="date-{{ post.id }}">{{ post.created_at.isoformat }}</span></b>{% if post.created_at != post.updated_at %} - edited{% endif %}</p>
                <br>

                <script>
                    // parse the date into dd-mm-yyyy hh:mm format
                    var date = new Date(document.getElementById('date-{{ post.id }}').innerHTML);
                    var formattedDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear() + ' ' + date.getHours() + ':' + date.getMinutes();
                    document.getElementById('date-{{ post.id }}').innerHTML = formattedDate;
                </script>

                <div>
                    {% if post.user.id == user.id %}
                        <button class="comment__action" style="margin-left: 0;" onclick="editPost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}')"><i class="uil uil-edit"></i></button>
                        <button class="comment__action" onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'user')"><i class="uil uil-trash-alt"></i></button>
                    {% endif %}
                    {% if user.is_staff %}
                        {% if post.user.id == user.id %}
                        <button class="comment__action"  onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'admin')"><i class="uil uil-trash-alt"></i><span style="font-size: 10px;">Admin<span></button>
                        {% else %}
                        <button class="comment__action" style="margin-left: 0;" onclick="deletePost('{{ user.is_authenticated }}', '{{ post.id }}', '{{ post.title }}', '{{ csrf_token }}', 'admin')"><i class="uil uil-trash-alt"></i><span style="font-size: 10px;">Admin<span></button>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </section>

    </main>

    <script type="text/javascript" src="{% static 'js/swiper-bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/artikelHandler.js' %}"></script>

    {% include 'templates/footer.html' %}
</body>
</html>